<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->


  <title>Quantbots</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon-quatbots.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./index.css" />


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="../assets/css/portfolio.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
  <script src="js/main.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/angular-sparklines@1.0.0/angular-sparklines.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>


  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <script src="./angular/angular-storage.min.js"></script>
  <script src="./angular/angular-payments.js"></script>
  <script src="./angular/app.js"></script>
  <script src="./angular/service.js"></script>
  <script src="./angular/alpacaPortfolio.js"></script>
</head>



</head>

<body ng-app="website" ng-controller="smartPortfolio" ng-init="init()">

  <div class="home-pages">

    <div class="main1">
      <div class="home1 w-100" style="box-shadow: 0px 15px 10px -15px #203E4C;">
        <ng-include src="'./header/navbar.html'"></ng-include>
      </div>
    </div>
    
    <div class="home">
      <div class="container">
        <div class="app-frame11">
          <div class="logo-group">
            <div class="yellow-header">
             Your Alpaca Portfolios
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="app-frame12" style="margin-top: 60px;">
   
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-xs-12" ng-repeat="data in dataset">
            <div class="portfolio-card mb-4">
      
              <!-- Card Header -->
              <div class="portfolio-card-header">
                <div class="white-text">{{data.portfolio_name}}</div>
                <div >  <a class="yellow-text" style="margin-left: 50px;" ng-click="onedit(data.customer_id,data.id)" href="#" title="Edit Portfolio"><i class="fas fa-edit"></i></a> 
                  &nbsp; <a class="text-danger" ng-click="confirmDelete(data.customer_id, data.id)"  href="#"><i class="fas fa-trash"></i></a></div>
              </div>
      
              <!-- Card Body -->
              <div class="portfolio-card-body">
                  <div class="stock-card mt-2" >
                    <div class="viezh-robert">Start Date</div>
                    <span class="text-white">{{data.startdate | date}}</span>
              </div>
              <div class="stock-card mt-2" >
                <div class="viezh-robert">Investment Amount</div>
                <span class="text-white">{{data.investment_amount}}</span>
          </div>
            </div>
      
              <!-- Card Footer -->
              <div class="portfolio-card-footer">
                <div style="cursor: pointer;" ng-click="goToPortfolioPage(data.id)" class="d-flex justify-content-between align-items-center w-100">
                  <div class="text-white">View Details</div>
                  <div>
                    <img src="./public/arrow-icon.png" alt="Arrow Icon" class="arrow-icon" />
                  </div>
                </div>
              </div>
              
      
            </div>
          </div>
        </div>
      </div>



  <!-- modal starts-->
  <div class="modal inmodal" id="closeOpenPositionMdl" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated fadeIn">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span></button>
          <img src="Iamstockbot-Logo.png" style="width:120px; height:80px;">
          <h4 class="modal-title">Iamstockbot</h4>

        </div>
        <div class="modal-body">
          <div class="form">
            <h3> Confirm Stock Delete</h3>

            <form name="myForm">


              <button type="submit" ng-click="confrimClosePosition()"
                class="btn btn-primary btn-w-m block full-width m-b">Submit</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-blur fade" id="modal-small" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body" style="background-color: #132935 ;">
          <div class="icon-warning">!</div>
          <div class="modal-title text-center text-white">Are you sure?</div>
          <!-- <div>If you proceed, you will lose all your personal data.</div> -->
        </div>
        <div class="modal-footer" style="background-color: #1A3949;">
          <button type="button" class="btn btn-yellow me-auto" data-bs-dismiss="modal">No, cancel</button>
          <button id="comfirmModalDelete" ng-click="deleteSubmit()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Yes, delete it</button>
        </div>
      </div>
    </div>
  </div>

    <ng-include src="'footer/simple_income.html'"></ng-include>
  </div>


  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/644f791631ebfa0fe7fb52e9/1gvb7202o';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->




  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>
