.frame-3-1 {
  position: relative;
  width: 100%;
  height: 862px;
}

.frame-3-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

.frame-3-1::before {
  content: "";
  background-image: url("./public/frame-3-1@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Rest of your styles */

/* .dropdown-menu{
  background-color: #143443 !important;
  color: #fff;
} */
/* .navbar .dropdown ul a {
  color: #fff !important;
}
.navbar .dropdown ul a:hover {
  color: #143443 !important;
}
.navbar .dropdown ul li {
  background-color: #143443 !important;
}
.navbar .dropdown ul li:hover {
  background-color: #173a4b !important;
} */

.login-container{
  margin-top: 50px;
}

.frame-logo{
  width: 200px;
  height: 32px;
  padding: 0 !important;
}
.navbar {
  padding: 20px 100px !important;
  /* background-color: #143443; */
  /* background-color: var(--color-gray-400) !important; */
}



.get-started-in,
.simple-steps {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.simple-steps {
  font-size: var(--font-size-21xl);
  line-height: 56px;
  font-weight: 600;
}
.get-started-in-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--background);
  width: 100%;
  height: 176px;
}
.login-form {
  width: 550px;
  background-color: #203e4c;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}
.login-image {
  background-image: url('./public/group-1000004219.svg');
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 420px;
}
.register-image {

  background-image: url('./public/group-1000005196.svg');
  background-size: cover;
  background-position: center;
  width: 410px;
  height: 415px;
  margin-right: 60px;
  margin-top: 10px;
}

.image-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-in{
  font-size: 32px;
  font-weight: 600;
  color:  var(--color-mediumaquamarine);
  text-align: center;
  font-family: var(--font-poppins);
}
.email-address,
.password {
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-mediumaquamarine);
  font-family: var(--font-poppins);
}
.group-child1,
.group-inner {
  border-radius: var(--br-5xs) !important;
  background-color: var(--color-lightcyan) !important;
  font-family: var(--font-poppins);
  width: 458px;
  height: 60px;
  color: #5f5f5f;
}
.password-input {
    position: relative;
    font-family: var(--font-poppins);
}
.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #5f5f5f;
}
.didnt-have-an-account {
  font-weight: 500;
  text-align: center;
  color: #61847c;
}
.register-now {
  font-weight: 600;
  color: var(--color-coral);
  font-family: var(--font-poppins);
  cursor: pointer;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-mediumaquamarine);
}

input[type="checkbox"] {
    opacity: 1;
    cursor: pointer;
}

.checkmark {
    height: 20px;
    width: 20px;
    background-color: var(--color-mediumaquamarine);
    border: 2px solid var(--color-mediumaquamarine);
}

input[type="checkbox"]:checked ~ .checkmark:after {
    content: "\2713"; /* Unicode checkmark symbol */
    font-size: 16px;
    color: var(--color-mediumaquamarine);
    position: absolute;
    top: 2px;
    left: 6px;
}


.didnt-have-an-container{
  text-align: center;
  margin-top: 20px;
  color: #61847c;
  font-family: var(--font-poppins);
}
.forgot-password {
  /* position: absolute; */
  line-height: 28px;
  color:  #6ba396;
  text-align: right;
  margin-right: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: var(--font-poppins);
}
.btn-color{
  background-color: var(--color-mediumaquamarine) !important;
  width: 458px;
  height: 60px;
  color: #fff;
}
.full-width {
  width: 100%;
  font-size: 26px !important;
  line-height: 28px !important;
  font-weight: 600 !important;
  color: #fff !important;
}

.choose,
.div {
  position: relative;
  line-height: 32px;
  font-weight: 500;
}
.choose {
  color: var(--font-white-color);
}
.choose-a-suitable,
.parent {
  display: flex;
  align-items: center;
}
.parent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.choose-a-suitable {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 28px;
  text-align: left;
  width: 330px;
}
.frame-container {
  position: absolute;
  top: 24px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.rectangle-parent {
  position: relative;
  width: 100%;
  height: 176px;
}
.invest-in-the,
.subscribe-to-the {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 28px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 326px;
}
.invest-in-the {
  width: 342px;
}
.frame-group,
.group-parent {
  display: flex;
  justify-content: flex-start;
}
.group-parent {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-5xl);
  color: var(--paragraph-white-color);
}
.frame-group {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-45xl);
}
.frame-child,
.frame-item {
  position: relative;
  background-color: var(--color-gray-200);
  width: 341px;
  height: 2px;
}
.frame-item {
  width: 340px;
}
.rectangle-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.frame-inner {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-mediumaquamarine);
  width: 12px;
  height: 12px;
}
.instant-portfolio-notification {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
}
.ellipse-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-parent,
.frame-parent2,
.frame-parent3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent3 {
  flex-direction: row;
  gap: var(--gap-37xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--font-white-color);
}
.frame-parent,
.frame-parent2 {
  flex-direction: column;
}
.frame-parent2 {
  gap: var(--gap-29xl);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.frame-parent {
  margin-top: 70px;
  gap: var(--gap-45xl);
}
.trusted-by-thousands {
  margin: 0;
}
.trusted-by-thousands-container1 {
  line-break: anywhere;
  width: 100%;
}
.trusted-by-thousands-container {
  position: relative;
  line-height: 62px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 509px;
}
.lorem-ipsum-dolor {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 28px;
  color: var(--paragraph-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 579px;
}
.trusted-by-thousands-of-happy-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 243px;
}
.ellipse-icon {
  position: relative;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.viezh-robert {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  font-size: 18px;
}
.viezh-robert2 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  font-size: 18px;
  color: black;
}
.warsaw-poland {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  color: var(--paragraph-white-color);
}
.ellipse-parent2,
.viezh-robert-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.ellipse-parent2 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--font-size-base);
}
.lorem-ipsum-dolor1 {
  position: relative;
  line-height: 24px;
  color: var(--paragraph-white-color);
  display: inline-block;
  width: 321px;
}
.rating-child {
  position: relative;
  border-radius: var(--br-12xs-5);
  width: 16px;
  height: 16px;
}
.div3,
.rating1 {
  position: absolute;
}
.rating1 {
  height: 76.19%;
  width: 77.52%;
  top: 9.52%;
  right: 0;
  bottom: 14.29%;
  left: 22.48%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.div3 {
  top: 0;
  left: 0;
}
.rating {
  position: relative;
  width: 129px;
  height: 21px;
}
.frame-parent5 {
  position: absolute;
  top: 24px;
  left: 20px;
  width: 322px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.group-div {
  position: relative;
  width: 100%;
  height: 243px;
}
.group-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}






.rating1 {
  height: 76.19%;
  width: 77.52%;
  bottom: 14.29%;
  left: 22.48%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  margin-left: 15px;
}

.div3 {
  font-size: 20px;
}

.rating {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.frame-parent5 {
  position: absolute;
  top: 24px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}

.group-div {
  position: relative;
  width: 100%;
  height: 260px;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-gray-400);
  margin-top: 5px;
  height: 530px;
}

.group-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.group-container {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-sm);
}

.frame-parent4 {
  margin-top: 70px;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-45xl);
  font-size: var(--font-size-21xl);
}

.group-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  height: 374px;
}

.logo {
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 244px;
  height: 44px;
  flex-shrink: 0;
}

.our-vision-is {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  display: inline-block;
}
.frame-wrapper2 {
  border-radius: var(--br-5xs);
  display: flex;
  width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  margin-bottom: 10px;
}

.frame-img {
  position: relative;
  width: 56px;
  height: 56px;
}

.stocks-tab{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.google {
  margin-left: 20px;
}

.stocks-tab-main{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}



.other-portfolios {
  position: relative;
  line-height: 64px;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
}
.nav-li-tab{
  padding: 0 !important;
  margin-bottom: 20px !important;
}

.nav-li-tab .nav-link {
  border-radius: var(--br-5xs);
  width: 100%;
  height: 100%;
  background-color: var(--background) !important;
  border: none !important;
  color: white !important;
  padding: 15px 10px;
}

.nav-li-tab .active {
  background-color: var(--promery-colore) !important;
}

.nav-tabs{
  border-bottom: none !important;
}

.tab-pane-main{
  background-color: var(--color-gray-400) !important;
}

.group-parent-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}

.smartportfolios-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}

.smartportfolios-group2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}

.group-parent-tabs2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  justify-content: flex-start;
  gap: var(--gap-xl);
  word-wrap: break-word;
  width: 70%;
}

.group-parent-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}

.group-inner1 {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-gray-400);
  width: 752px;
  height: 104px;
}

.group-item {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-gray-400);
  padding: 20px;
}
.group-inner1 {
  border-radius: var(--br-9xs);
  background-color: var(--promery-colore);
  width: 72px;
  height: 72px;
}

.thunder-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
}
.thunder-1-icon {
  top: 18px;
  left: 18px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}

.smartportfolios1 {
  position: relative;
  line-height: 36px;
  font-weight: 500;
  font-size: var(--font-size-13xl);
}

.vector-icon {
  position: relative;
  width: 17.6px;
  height: 30px;
}

.frame-group-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  width: 80%;
}

table tr th, table tr td {
  color: white !important;
}

.rectangle-div {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 260px;
}

.frame-parent-side{
  background-color: var(--color-gray-400);
  padding: 20px;
}

.y-cagr {
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--font-colore);
  margin-bottom: 10px;
}

.y-cagr-parent {
  font-size: var(--font-size-base);
  line-height: 20px;
  color: var(--body-font-colore);
}

.more-insights-parent{
  margin-top: 20px;
  display: flex;
}

.more-insights{
  margin-right: 20px;
  font-weight: 700;
}

.subscribe-now-wrapper{
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--promery-colore);
  width: 100%;
  text-align: center;
  padding: 16px 0;
  cursor: pointer;
  margin-bottom: 20px;
}

.subscribe-now{
  color: white;
  font-size: 28px;
  text-decoration: none;
}

.lac-invesfed-for-5years-could-parent{
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  
}

.tab-content .active {
  background-color: transparent !important;
}

.tab-content{
  margin-top: 20px;
}



@media (max-width: 991px) {
  .smartportfolios-group {
    flex-direction: column;
    text-align: center;
  }
  
  .vector-icon {
    margin: 10px auto; /* Center the image */
  }
}







.group-container {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-sm);
}


.frame-parent4 {
  margin-top: 70px;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-45xl);
  font-size: var(--font-size-21xl);
}
.group-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  height: 374px;
}
.logo {
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 244px;
  height: 44px;
  flex-shrink: 0;
}
.our-vision-is {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  display: inline-block;
}
.facebook-icon {
  position: relative;
  width: 36px;
  height: 36px;
}
.facebook-parent,
.our-vision-is-to-provide-conve-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.our-vision-is-to-provide-conve-parent {
  flex-direction: column;
  gap: var(--gap-5xl);
  font-size: var(--font-size-base);
  color: var(--paragraph-white-color);
  font-family: var(--font-poppins);
}
.logo-parent {
  gap: var(--gap-13xl);
  font-size: var(--font-size-13xl);
  font-family: var(--font-ramabhadra);
}
.logo-container,
.logo-group,
.logo-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-container {
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--paragraph-white-color);
}
.logo-group {
  gap: var(--gap-5xl);
  width: 110%;

}
.logo6 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.frame-parent10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 151px;
}
.frame-child5 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.19);
  width: 1140px;
  height: 2px;
}
.frame-parent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px;
}
.smartportfolios-all-rights {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  line-height: 150%;
  color: var(--paragraph-white-color);
  text-align: center;
}
.frame-parent8 {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-400);
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  justify-content: flex-end;
  gap: var(--gap-13xl);
  padding: 55px 0;
}
.rectangle-parent4 {
  background-color: var(--color-gray-400) !important;
  /* padding: 20px 0; */
  margin-top: 50px;
  /* Vertically center the content */
}
.footer-line {
  position: relative;
  background-color: rgba(255, 255, 255, 0.19);
  width: 100%;
  height: 2px;
  margin: 20px 0;
}
.home {
  font-weight: 600;
}
.about,
.home {
  position: relative;
  line-height: 28px;
}
.down-arrow-1-icon {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.about-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--paragraph-white-color);
  cursor: pointer;
}
.s {
  text-transform: uppercase;
}
.start-investing {
  position: relative;
  line-height: 24px;
}
.start-investing-parent {
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumaquamarine);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) 30px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: center;
}
.sign-in-parent {
  gap: var(--gap-5xl);
}
.home-parent,
.logo-parent5,
.sign-in-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.home-parent {
  gap: var(--gap-37xl);
  font-size: var(--font-size-base);
  color: var(--font-white-color);
  font-family: var(--font-poppins);
}
.logo-parent5 {
  position: absolute;
  top: 36px; 
  gap: 269px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-ramabhadra);
}
.home-pages-child {
  position: absolute;
  top: 220.5px;
  left: 374px;
  width: 1440px;
  height: 862px;
}
.invest-with-confidence-container,
.maximize-your-returns {
  position: relative;
  line-height: 72px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 683px;
}
.maximize-your-returns-sub {
  position: relative;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 24px;
}
.invest-with-confidence-container {
  font-size: var(--font-size-base);
  line-height: 28px;
  font-weight: 500;
  width: 519px;
}
.right-1-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.start-investing-now-parent {
  border-radius: 10px;
  background-color: var(--color-mediumaquamarine);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) 40px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--font-white-color);
}
.frame-parent11 {
  position: absolute;
  top: 97px;
  left: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  text-align: left;
  font-size: 56px;
  color: var(--color-white);
}
.app-frame11{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  text-align: left;
  margin-top: 50px;
  font-size: 56px;
  color: var(--color-white);
}
.app-frame11-main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  text-align: left;
  margin-top: 0px;
  font-size: 56px;
  color: var(--color-white);
  font-weight: 700;
}
.frame-parent233 {
  position: absolute;
  top: 620px;
  left: 221px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  text-align: left;
  font-size: 56px;
  color: var(--color-white);
}
.explore-investment-portfolios-container {
  position: relative;
  line-height: 62px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 713px;
}
.discover-investment-portfolios {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 28px;
  color: var(--paragraph-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 695px;
}
/* .rectangle-group {
  position: absolute;
  top: 150px;
  left: 201px;
  width: 550px;
  height: 464px;
  font-size: var(--font-size-lg);
  color: var(--color-mediumaquamarine);
}
.log-in-screen {
  position: relative;
  background-color: var(--color-darkslategray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-lightsteelblue);
  font-family: var(--font-poppins);
} */
.frame-child6 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-mediumaquamarine);
  width: 28px;
  height: 2px;
}
.all-parent,
.view-all-wrapper {
  display: flex;
  justify-content: flex-start;
  color: var(--font-white-color);
}
.all-parent {
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.view-all-wrapper {
  border-radius: 6px;
  background-color: var(--color-mediumaquamarine);
  flex-direction: row;
  padding: 8px var(--padding-base);
  align-items: flex-start;
}
.frame-parent13,
.frame-parent14 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent14 {
  flex-direction: row;
  gap: var(--gap-45xl);
  font-size: var(--font-size-base);
  color: var(--paragraph-white-color);
}
.frame-parent13 {
  flex-direction: column;
  gap: var(--gap-29xl);
}
.group-child4,
.group-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
}
.group-child5 {
  height: 15.25%;
  top: 84.75%;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--background);
  /* padding: 20px 120px; */
}
.group-child5:hover {
  background-color: var(--color-mediumaquamarine);
}
.group-child6 {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-gray-300);
}
.group-child6,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 86px;
}
.frame-child7 {
  position: relative;
  width: 54px;
  height: 54px;
}
.equity1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 20px;
  color: var(--paragraph-white-color);
  text-align: left;
  display: flex;
  align-items: center;
  width: 67px;
}
.group-parent5 {
  gap: var(--gap-base);
}
.frame-wrapper,
.group-parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.high-risk {
  position: relative;
  line-height: 20px;
}
.frame-parent15,
.high-risk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.high-risk-wrapper {
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-400);
  padding: var(--padding-7xs) var(--padding-xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-tomato);
}
.frame-parent15 {
  position: absolute;
  top: 16px;
  left: 16px;
  gap: var(--gap-52xl);
}
.group-child7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-powderblue);
  width: 100%;
  height: 201px;
}
.min-investment {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 20px;
  color: var(--color-darkslategray-100);
}
.frame-wrapper1 {
  position: absolute;
  top: 0;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-icon {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 137px;
  overflow: hidden;
}
.frame-parent16,
.rectangle-parent6 {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  height: 177px;
}
.rectangle-parent6 {
  top: 86px;
  height: 201px;
  text-align: left;
  color: var(--color-darkslategray-200);
}
.group-parent3 {
  position: relative;
  width: 100%;
  height: 287px;
}
.half-yearly {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 18px;
  color: var(--paragraph-white-color);
}
.frame-child8 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-gray-500);
  width: 1px;
  height: 38px;
}
.frame-parent19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.frame-child10 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-gray-600);
  width: 332px;
  height: 1px;
}
.frame-parent18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.view-portfolio-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-xl);
}
.frame-parent17,
.group-parent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-parent17 {
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
}
.group-parent2 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  gap: var(--gap-5xl);
}
.rectangle-parent5 {
  position: relative;
  width: 100%;
  height: 446px;
  /* height: 340px; */
}
.group-child11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-mediumaquamarine);
  width: 54px;
  height: 54px;
}
.light-1-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-parent12,
.group-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-size: var(--font-size-xl);
}
.frame-parent12 {
  margin-top: 70px;
  /* left: 150px; */
  flex-direction: column;
  align-items: center;
  gap: var(--gap-45xl);
  font-size: var(--font-size-21xl);
}


.group-child18 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-mediumaquamarine);
  width: 48px;
  height: 48px;
}
.light-1-icon2 {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-parent13 {
  position: relative;
  width: 48px;
  height: 48px;
}
.equity4 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 16px;
  color: var(--color-darkslategray-300);
  text-align: left;
  display: flex;
  align-items: center;
  width: 67px;
}
.arrow-angle-pointing-to-right-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}



.home-pages {
  background-color: #1A3949;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-base);
  color: var(--font-white-color);
  font-family: var(--font-poppins);
}

.main-vectors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
  margin: 0; /* Add negative margin to counteract padding */

  /* Add background image styles here if needed */
}

.vector-parent,
.vector-group,
.vector-container {
  flex-grow: 1; /* Each element takes equal width */
  padding: 10px; /* Add padding to each element */
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
  margin-right: 20px;
  color: var(--color-gray-100);
  background-color: white;
  border-radius: 5px;
}

.vector-parent img,
.vector-group img,
.vector-container img {
  max-width: 100%;
  height: auto;
}

.frame-parent30 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.group-parent5 {
  display: flex;
  align-items: center;
}

.rectangle-parent13 {
  position: relative;
  margin-right: 10px; /* Add spacing between icon and text */
}

.group-child18,
.light-1-icon2,
.arrow-angle-pointing-to-right-icon {
  display: inline-block;
  vertical-align: middle;
}

.viezh-robert-parent {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}


.start-investing{
  font-size: var(--font-size-xs);
  line-height: 1.4;
  color: var(--paragraph-white-color);
}

.mutual-funds1,
.start-investing2,
.balanced3, 
.equity5{
  font-size: var(--font-size-xs);
  line-height: 1.4;
  color: var(--color-darkslategray-300);
}


/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .vector-parent,
  .vector-group,
  .vector-container {
    flex-basis: 100%; /* Take full width on small screens */
    padding: 0 20px; /* Increase padding for better spacing on small screens */
  }
  
  .frame-parent30 {
    flex-direction: column;
    align-items: center;
  }
  
  .rectangle-parent13 {
    margin-right: 0;
    margin-bottom: 10px;
  }
}



/* plans   */

.main-header{
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100) !important;
  font-size: 26px;
  text-align: center;
  color: var(--color-mediumaquamarine-100) !important;
  line-height: 24px;
  font-weight: 600;
}

.row-main{
  display: flex;
  align-items: center;
  padding: 20px;
}

.row-main2{
  display: flex;
  align-items: center;
}


.first-col {
  margin-right: 15px;
}


.img-border{
  border-radius: 4px;
  background-color: var(--color-mediumaquamarine-200);
  padding: 18px;
}

.thunder-1-icon{
  overflow: hidden;
}

.invest-in-rending{
  font-size: var(--font-size-base);
  line-height: 20px;
  color: var(--body-font-colore);
  text-align: left;
}

.second-main{
  margin-left: 40px;
}

.plans-text-main{
  font-size: 36px;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-poppins);
  font-weight: 700;
  margin-top: 50px;
  text-transform: uppercase;
}


.plan-card{
  background-color: transparent !important;
}
.plan-header{
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-gray-100) !important;
  padding: 20px 0px !important;
  font-size: 26px;
  text-align: center;
  color: var(--color-mediumaquamarine-100) !important;
  line-height: 24px;
  font-weight: 600;
}

.card-header-price{
  font-weight: 600;
  font-size: 32px;
  align-items: center;
  color: white !important;
  margin-top: 20px;
}

.plan-body{
  background-color: var(--color-powderblue);
  position: relative;
  padding: 0 !important;
}

.background-image {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plan-content {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}

.plan-title{
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 21px !important;
  align-items: center !important;
  color: var(--color-seagreen) !important;
  margin: 20px 0 !important;
}

.plan-text{
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 32px !important;
  align-items: center !important;
  color: var(--color-darkslategray-100) !important;
  margin-top: 60px!important;
}

.custom-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
  font-size: 20px;
  color: black;
}

.custom-list-item img {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  margin-right: 8px;
}

.plan-footer{
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-mediumaquamarine-200) !important;
  padding: 30px 0px !important;
  font-size: 26px;
  text-align: center;
  color: white !important;
  line-height: 24px;
  font-weight: 600;
  border-color: transparent;
  cursor: pointer;
}

.plan-footer:hover{
  background-color: var(--color-mediumaquamarine-100) !important;
}


/* personal detail */

.personal-text-main{
  line-height: 40px;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-poppins);
  font-weight: 400;
  margin-top: 30px;
  text-transform: capitalize;
}

.personal-text-submain{
  line-height: 40px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-poppins);
  font-weight: 400;
  padding: 0;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.progress-form {
  padding-left: 30px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 100px;
}

.circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 28px;
  color: white;
  line-height: 28px;
  font-weight: 500;
}

.line {
  width: 228px;
  height: 7px;
  background-color: var(--color-darkslategray-100);
}
/* .active{
  background-color: var(--promery-colore) !important;
} */

.form-container {
  padding: 30px;
  margin: 0 auto;
}

.form-label {
  font-weight: bold;
}

.group-inner2 {
  border-radius: var(--br-5xs) !important;
  background-color: var(--color-gray-100) !important;
  font-family: var(--font-poppins);
  width: 458px;
  height: 60px;
  color: white !important;
  border: none !important;
}

.group-inner2:focus,
.group-inner2:active,
.group-inner2:focus-visible,
.group-inner2:focus-within {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: var(--color-gray-100) !important;
}

.form-label{
  word-spacing: normal;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    border-radius: 4px;
    padding: 14px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.outline-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin-right: 30px;
    border-radius: 8px;
    padding: 14px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.confirm-button {
    background-color: var(--promery-colore);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 14px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


/* Confirmation */

.form-head-text{
  line-height: 40px;
  font-weight: 400;
  font-size: 32px;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-poppins);
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: capitalize;
}

/* payment */

.form-head-text2{
  line-height: 40px;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-poppins);
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.form-container2 {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
}

.button-container2 {
    display: flex;
    justify-content: flex-start;
}

/* congrats */

.congrats-card {
    width: 500px;
    height: 375px;
    background-color: var(--color-gray-100) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: auto;
    padding: 70px !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.investment-image {
  width: 195.41px;
  height: 240.26px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* margin-bottom: 90px; */
}

.content {
  padding: 30px;
  width: 60%;
  margin: 20px 0;
  line-height: 46px;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}

.name-text{
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  color: #d8dbdc;
  margin-bottom: 20px;
  text-align: right;
}


.name-text2{
  font-size: 36px;
  line-height: 42px;
  font-weight: 800;
  color: #d8dbdc;
  margin-bottom: 20px;
  text-align: left;
}

.custom-card-body {
  background-color: var(--color-gray-400);
  color: white;
}

.card-main{
  background-color: #143443 !important;
}

.card-height{
  height: 120px !important;
  overflow: hidden !important;
  color: white !important;
}

.vertical-line {
  border-left: 1px solid #ccc;
  /* height: 100%; */
  padding: 0% !important;
}

.footer-gap{
  padding: 50px 0px;
}

/* Add more media queries and responsive styles as needed for other screen sizes */
