<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Quantbots</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon-quatbots.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="../assets/css/portfolio.css" rel="stylesheet">
  <link href="../assets/css/pic-chart.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>


  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <script src="./angular/angular-storage.min.js"></script>
  <script src="./angular/angular-payments.js"></script>
  <script src="./angular/app.js"></script>
  <script src="./angular/service.js"></script>
  <script src="./angular/qrPlan.js"></script>
</head>

<style>

</style>



<body ng-app="website" ng-controller="smartPortfolio" ng-init="init()">
  <div class="im_loading" ng-show="imLoading"></div>

  <div class="main1">
    <div class="home1 w-100" style="box-shadow: 0px 15px 10px -15px #203E4C;">
      <ng-include src="'./header/new_navbar.html'"></ng-include>
    </div>
  </div>
  <div class="content-wrap " style="background-color: #1A3949;">

 
  <main id="main">
    <section >


      <div class="container">
        
            
     </div>


     <div class="container">
      
      <div class="row mt-3">
     <!-- Card -->

     <div class="col-md-2 col-lg-2 col-xs-12 mb-2" >
     
    </div>
<div class="col-md-8 col-lg-8 col-xs-12 mb-8" ng-repeat="plan in newsLetterPlans">
  <div class="portfolio-card" >
    <div class="portfolio-card-header">
      <div class="custom-form-check ">
        <input type="radio" class="custom-form-check-input pointer" id="plan_id_{{plan.id}}" name="plan_id" value="{{plan.id}}" ng-model="data.plan_id">
        <h5 class="text-white ms-2 mt-2">{{plan.plan_name}}  - USD {{plan.plan_amount}} /{{plan.plan_duration}} days</h5>
      </div>
      
      
    </div>
    <div class="plan-card-body">
    
      <div class="mt-3 plan-description">
        <div class="tagline white-big-text mb-2">{{plan.tagline}}</div>
        <ul class="features-list text-white">
          <li ng-repeat="feature in plan.features">{{feature}}</li>
        </ul>
      </div>

      <style>
        .qr-code {
  text-align: center;
}

.qr-img {
  max-width: 100%;
  height: auto;
  max-height: 450px; /* Adjust this value as needed */
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

      </style>

      

    </div>

    
  </div>

  
  <div class="qr-code mt-4">
    <img src="/assets/img/clients/qr-amol-payment.jpeg" alt="QR Code for Payment" class="img-fluid qr-img">
  </div>
</div>

<div class="col-md-2 col-lg-2 col-xs-12 mb-2" >
     
</div>

      </div>
      <!-- <div class="d-flex justify-content-center mt-4 mb-2">
        <button type="submit" ng-click="onaddAPISubmit(data)" class="btn btn-yellow-pill">Submit</button>
      </div> -->
    </div>
    
       
      </div>


<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-lg-4 col-xs-12" ng-repeat="data in dataset">
      <div class="portfolio-card mb-4">

       
        <div class="portfolio-card-header">
          <div class="white-text">{{data.portfolio_name}}</div>
          <div class="green-sub-header">{{data.portfolio_yearlyroi}}%</div>
        </div>

        
        <div class="portfolio-card-body">
          
            <div class="stock-card mt-2" ng-repeat="stock in data.portfolio_stocks">
              <span class="text-white">{{stock.stock}}</span>
        </div>
      </div>

       
        <div class="portfolio-card-footer" >
          <div   class="d-flex justify-content-center align-items-center w-100  pointer" ng-click="goToPortfolioPage(data.id, data.portfolio_name)">
            <div class="yellow-text" style="font-weight: 500 !important;">Select Portfolio</div>
            <div>
              <img src="./public/arrow-icon.png" alt="Arrow Icon" class="arrow-icon" />
            </div> 
          </div>
        </div>
        

      </div>
    </div>
  </div>
</div> -->

     
    </section>
  </main>
</div>

<ng-include src="'footer/simple_income.html'"></ng-include>
  




  <!--End of Tawk.to Script-->

<style>
  /* Ensure the body is a flex container with column direction */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Main container should fill the remaining space */
.content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Adjust the main element to allow for content stretching */
main {
  flex: 1;
  margin: 0;
  padding: 0;
}

/* Ensure section has no margin/padding */
section {
  margin: 0;
  padding: 0;
}

/* Container padding adjustment */
.container {
  padding-bottom: 0;
}

/* Footer style to ensure it sticks to the bottom */
footer {
  margin-top: auto;
}

</style>


  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>