.hero-section {
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    padding: 100px 0; /* Padding for spacing */
    text-align: center; /* Center the text */
  }
  .hero-section img {
    margin-top: 30px;
    max-width: 100%; /* Make image responsive */
    height: auto;
  }