body {
  margin: 0;
  line-height: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #143443;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-ramabhadra: Ramabhadra;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-darkslategray-100: #484848;
  --color-darkslategray-200: #2e2e2e;
  --color-darkslategray-300: #252f33;
  --color-gray-100: #1d1d1b;
  --color-silver: #aebcbe;
  --color-gray-200: rgba(255, 255, 255, 0.2);
  --color-gray-300: rgba(255, 255, 255, 0.04);
  --color-gray-400: rgba(255, 255, 255, 0.05);
  --color-gray-500: rgba(255, 255, 255, 0.16);
  --color-gray-600: rgba(255, 255, 255, 0);
  --color-lightcyan: #d9f9ff;
  --color-mediumaquamarine: #5cbfa8;
  --color-coral: #eb693d;
  --font-white-color: #f6f6f6;
  --paragraph-white-color: #ebebeb;
  --color-powderblue: #c6f0fe;
  --color-tomato: #ff4d4d;
  --background: rgba(99, 155, 168, 0.43);
  --color-white: #fff;
  --color-darkslategray-100: #484848;
  --color-darkslategray-200: #2e2e2e;
  --font-white-color: #f6f6f6;
  --paragraph-white-color: #ebebeb;
  --color-gray-100: rgba(255, 255, 255, 0.04);
  --color-gray-200: rgba(255, 255, 255, 0.16);
  --color-gray-300: rgba(255, 255, 255, 0);
  --color-gray-400: rgba(255, 255, 255, 0.05);
  --color-powderblue: #c6f0fe;
  --color-tomato: #ff4d4d;
  --promery-colore: #5cbfa8;
  --background: rgba(99, 155, 168, 0.43);
  --color-white: #fff;
  --font-colore: #d1eefe;
  --body-font-colore: #e4e4e4;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-45xl: 64px;
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-4xl: 23px;
  --gap-52xl: 71px;
  --gap-29xl: 48px;
  --gap-37xl: 56px;
  --gap-13xl: 32px;
  --gap-8xs: 5px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-7xs: 6px;
  --padding-xs: 12px;
  --padding-base: 16px;

  /* border radiuses */
  --br-10xs: 3px;
  --br-12xs: 1px;
  --br-5xs: 8px;
  --br-12xs-5: 0.5px;

  /* Gaps */
  --gap-81xl: 100px;
  --gap-13xl: 32px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-4xl: 23px;
  --gap-5xs: 8px;
  --gap-52xl: 71px;
  --gap-198xl: 217px;
  --gap-37xl: 56px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-7xs: 6px;
  --padding-xs: 12px;

  /* border radiuses */
  --br-12xs: 1px;
  --br-10xs: 3px;
  --br-5xs: 8px;
  --br-9xs: 4px;
}
