<!DOCTYPE html>
<html>




<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smartportfolios – Get atleast 20% more than your buy and hold strategy.</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <!-- CSS files -->
    <link href="/dist/css/tabler.min.css" rel="stylesheet" />
    <link href="/dist/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="/dist/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="/dist/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="/dist/css/demo.min.css" rel="stylesheet" />
    <!-- 1. Add the following script to your page. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
    <script src="./angular/angular-storage.min.js"></script>
    <script src="./angular/angular-payments.js"></script>
    <script src="./angular/app.js"></script>

    <script src="./angular/service.js"></script>
    <script src="./angular/mysignalportfolioctrl.js"></script>


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/b978cbdbfe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/custom.css">
   
</head>

<body ng-app="website" ng-controller="mysignalportfolioctrl" ng-init="init()">

    <div id="wrapper">

        <div id="menu"></div>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                                class="fa fa-bars"></i> </a>

                    </div>

                    <ul class="nav navbar-top-links navbar-right p-3">
                        <div class="dropdown profile-element">

                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                                <span class="text-muted text-xs block">{{name}} <b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                                <li><a class="dropdown-item" ng-click="logout()">Logout</a></li>
                            </ul>
                        </div>
                </nav>
            </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>MYPORTFOLIO</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index-2.html">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>My Portfolio</strong>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="wrapper wrapper-content">
              
             
            </div>
            <div class="row mb-4" id="intro1">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="signals.html"><strong>Signals</strong></a>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row" id="intro">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h3><strong>Your Signals </strong></h3>

                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-9">

                                    <span>Check more details of your signals. </span>
                                   

                                </div>
                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            
            


            <div class="row" id="categorylist">
                <div class="col-lg-3" ng-repeat="data in signalportfoliolist">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h3><strong>{{data.portfolio_name}}</strong></h3>
                            <div class="ibox-tools">
                                <h5 style="color:coral"><strong>{{data.id}}</strong></h5>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <ul class="todo-list m-t small-list">
                                <div class="feed-element">
                                    <h5></h5>

                                </div>
                               
                              
                               
                                <li>
                                 
                                    <span class="m-l-xs">Phone Alert :  {{data.phone_alert }}</span>
                                </li>
                                <li>
                                 
                                    <span class="m-l-xs"> Email Alert : {{data.email_alert}}</span>
                                </li>
                                <li>
                                 
                                    <span class="m-l-xs"> {{data.subscription_start | date:"medium"}}</span>
                                </li>
                                <li>
                                
                                    <span class="m-l-xs">{{data.subscription_end | date:"medium" }}</span>
                                </li>
                              
                            </ul>
                            <div>

                                <button type="submit" ng-click="portfoliodetails(data.id, data.portfolio_id, data.customer_id, data.portfolio_name )"
                                class="btn btn-primary block full-width m-b">Details</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


           



                

           
        </div>




    </div>
    </div>
    <!-- Modals for the webpage come here -->
    






    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <!-- <script src="js/plugins/pace/pace.min.js"></script> -->

</body>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.9.4/ecommerce_products_grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Jun 2022 03:36:24 GMT -->

</html>