
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->


  <title>Quantbots</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./index.css" />
    

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>


  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <script src="./angular/angular-storage.min.js"></script>
  <script src="./angular/angular-payments.js"></script>
  <script src="./angular/app.js"></script>
  <script src="./angular/service.js"></script>
  <script src="./angular/ig-confirmation.js"></script>
  </head>
 


</head>

<body ng-app="website" ng-controller="confirmation" ng-init="init()"  >
  <div class="im_loading" ng-show="imLoading"></div>
  <div class="home-pages">

    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container">
        <a class="navbar-brand" href="/app/smart-portfolio.html">
          <img src="./public/logo.png" alt="Logo" class="img-fluid frame-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            

            <li class="nav-item">
              <a class="nav-link" href="/smart-portfolio.html">Home</a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="/alpaca-portfolio.html">Alpaca Robot</a>
             </li>

               <li class="nav-item">
                <a class="nav-link" href="/portfolio-list.html">Ig Robot</a>
               </li>
    
            <li class="nav-item">
              <a class="nav-link" href="#" ng-click="logout()">Logout </a>
            </li>
     
          </ul>
        </div>
      </div>
    </nav>
    

    <div class="home">
      <div class="container">
        <h3 class="" style="margin-top: 20px;">Welcome {{name}}</h3>
      </div>
    </div>

    <div class="container mt-5">
      <div class="main-header">
        <div class="row-main">
          <div class="first-main">
            <div class="img-border">
              <img class="thunder-1-icon" alt="" src="./public/thunder-1.svg" />
            </div>
          </div>
          <div class="second-main">
            <div class="year-parent">
              <div class="smartportfolios"> {{data.portfolio_name}} - {{data.robot | uppercase}}</div>
              <!-- <div class="smartportfolios">Momentum</div> -->
            </div>
            <div class="invest-in-rending">Invest in trending Stocks</div>
          </div>
        </div>
      </div>

      <h3 class="personal-text-main">Confirm Your Portfolio</h3>
      <h3 class="personal-text-submain">Please review all the information you previously typed in the past steps, and if all is okay, submit your message to receive a project quote in 24 - 48 hours.</h3>

      <div class="progress-form">
        <div class="circle active">1</div>
        <div class="line active"></div>
        <div class="circle active">2</div>
      </div>

      <div class="form-container">
          <h4 class="form-head-text">Details</h4>
        <div class="form-row row">
          <div class="form-group col-md-6">
            <label for="portfolioName" class="form-label">Portfolio Name:</label>
            <input type="text" class="form-control group-inner2" id="portfolioName" ng-model="data.userPortfolio_name" required placeholder="Enter portfolio name">
          </div>

          <div class="form-group col-md-6">
            <label for="name" class="form-label">Investment Amount: </label>
            <input type="text" class="form-control group-inner2" id="name" ng-model="data.investamount" readonly required placeholder=" Investment Amount">
          </div>

        </div>


        <div class="form-row row">
          
          <div class="form-group col-md-6">
            <label for="portfolio_usermane" class="form-label">Name:</label>
            <input type="text" class="form-control group-inner2" id="portfolio_usermane" ng-model="data.portfolio_usermane" readonly placeholder="Enter your name">
          </div>
          
          <div class="form-group col-md-6">
            <label for="name" class="form-label">Phone Number:</label>
            <input type="text" class="form-control group-inner2" id="name" ng-model="data.phone" readonly placeholder="Enter Phone Number">
          </div>
      
        </div>


        <div class="form-row row">
          <div class="form-group col-md-6">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control group-inner2" id="email" ng-model="data.port_email" readonly placeholder="Enter email address">
          </div>
        </div>



        <!-- <div class="form-row row">
          <div class="form-group col-md-6">
            <label for="name" class="form-label">IG Username: </label>
            <input type="text" class="form-control group-inner2" id="name"ng-model="data.igusername" readonly  placeholder="Enter end point">
          </div>
          <div class="form-group col-md-6">
            <label for="portfolioName" class="form-label">IG Passwprd:</label>
            <input type="text" class="form-control group-inner2" id="portfolioName" ng-model="data.igpassword" readonly placeholder="Enter API ID">
          </div>
        </div>
         -->
        <!-- <div class="form-row row">
          <div class="form-group col-md-6">
            <label for="name" class="form-label">API Key: </label>
            <input type="text" class="form-control group-inner2" id="name"ng-model="data.apikey" readonly  placeholder="Enter end point">
          </div>
          <div class="form-group col-md-6">
            <label for="portfolioName" class="form-label">API Type:</label>
            <input type="text" class="form-control group-inner2" id="portfolioName" ng-model="data.apitype" readonly placeholder="Enter API ID">
          </div>
        </div> -->

       


          <!-- <div class="form-row row">
            <div class="form-group col-md-6">
              <label for="name" class="form-label">API Status: </label>
              <input type="text" class="form-control group-inner2" id="name" ng-model="data.apistatus" readonly required placeholder="Enter Secert Key">
            </div>
            <div class="form-group col-md-6">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control group-inner2" id="email" ng-model="data.email" readonly placeholder="Enter email address">
            </div>
          </div> -->

      </div>

      <div class="form-container">
        <!-- <h4 class="form-head-text">Subscription Type</h4>
        <div class="form-row row">
          <div class="form-group col-md-6">
            <label for="package" class="form-label">Package:</label>
            <input type="text" class="form-control group-inner2" id="pacakge" value="{{plan_name}}" readonly placeholder="Package Name">
          </div>
          <div class="form-group col-md-6">
            <label for="cost" class="form-label">Cost:</label>
            <input type="text" class="form-control group-inner2" id="cost" value="{{cost}} USD" readonly placeholder="USD">
          </div>
        </div>
        <div class="form-row row">
          <div class="form-group col-md-6">
            <label for="startdate" class="form-label">Start Date:</label>
            <input type="name" class="form-control group-inner2" id="startdate" value="{{startdate | date:'longDate' }}" readonly placeholder="Date Month Year">
          </div>
          <div class="form-group col-md-6">
            <label for="enddate" class="form-label">End Date:</label>
            <input type="name" class="form-control group-inner2" id="enddate" value="{{enddates | date:'longDate' }}" readonly placeholder="Date Month Year">
          </div>
        </div> -->
        <div class="button-container">
          <button class="outline-button" ng-click="previous()">Previous Step</button>
          <button class="confirm-button" ng-click="confirm()">Confirm</button>
        </div>
      </div>

    </div>

    <ng-include src="'footer/simple_income.html'"></ng-include>
  </div>

  <script>
    function togglePasswordVisibility() {
      const passwordInput = document.getElementById("password");
      const toggleIcon = document.querySelector(".toggle-password i");

      if (passwordInput.type === "password") {
          passwordInput.type = "text";
          toggleIcon.classList.remove("fa-eye-slash");
          toggleIcon.classList.add("fa-eye");
      } else {
          passwordInput.type = "password";
          toggleIcon.classList.remove("fa-eye");
          toggleIcon.classList.add("fa-eye-slash");
      }
  }
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/644f791631ebfa0fe7fb52e9/1gvb7202o';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->