.personal-details-child {
  position: absolute;
  top: 0;
  left: -4px;
  background-color: var(--color-darkslategray-200);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  width: 1440px;
  height: 116px;
}
.logo {
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 244px;
  height: 44px;
  flex-shrink: 0;
}
.home {
  font-weight: 600;
}
.about,
.home {
  position: relative;
  line-height: 28px;
}
.down-arrow-1-icon {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.about-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--paragraph-white-color);
}
.s {
  text-transform: uppercase;
}
.start-investing {
  position: relative;
  line-height: 24px;
}
.start-investing-parent {
  border-radius: var(--br-5xs);
  background-color: var(--promery-colore);
  display: flex;
  flex-direction: row;
  padding: 12px 20px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: center;
}
.sign-in-parent {
  gap: var(--gap-5xl);
}
.home-parent,
.logo-parent,
.sign-in-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.home-parent {
  gap: 56px;
  font-size: var(--font-size-base);
  color: var(--font-white-color);
  font-family: var(--font-poppins);
}
.logo-parent {
  position: absolute;
  top: 36px;
  left: 150px;
  gap: 269px;
  color: #fff;
  font-family: var(--font-ramabhadra);
}
.personal-details-item {
  position: absolute;
  height: 37.93%;
  width: 52.22%;
  top: 102.86%;
  right: -165.76%;
  bottom: -40.79%;
  left: 213.54%;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-gray-100);
}
.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 255px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray-100);
  width: 201px;
  height: 6px;
}
.group-item {
  top: 1px;
  left: 0;
  width: 202px;
}
.group-inner,
.rectangle-parent {
  position: absolute;
  top: 29px;
  left: 57px;
  width: 456px;
  height: 7px;
}
.group-inner {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--promery-colore);
  width: 64px;
  height: 64px;
}
.div {
  position: absolute;
  top: 18px;
  left: 27px;
  line-height: 28px;
  font-weight: 500;
}
.ellipse-div,
.ellipse-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}
.ellipse-div {
  border-radius: 50%;
  background-color: var(--color-darkslategray-100);
}
.div1 {
  position: absolute;
  top: 18px;
  left: 25px;
  line-height: 28px;
  font-weight: 500;
}
.ellipse-group {
  position: absolute;
  top: 0;
  left: 254px;
  width: 64px;
  height: 64px;
}
.div2 {
  position: absolute;
  top: 18px;
  left: 24px;
  line-height: 28px;
  font-weight: 500;
}
.ellipse-container,
.group-container {
  position: absolute;
  top: 0;
  left: 508px;
  width: 64px;
  height: 64px;
}
.group-container {
  left: 0;
  width: 572px;
}
.group-parent {
  position: relative;
  width: 572px;
  height: 64px;
}
.personal-details-inner {
  position: absolute;
  top: 369px;
  left: calc(50% - 286px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--paragraph-white-color);
}
.edit,
.edit-1-1 {
  position: relative;
}
.edit {
  line-height: 20px;
  font-weight: 500;
}
.edit-1-1 {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.edit-parent {
  position: absolute;
  top: 586px;
  left: 1229px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  color: var(--promery-colore);
}
.rectangle-div {
  position: absolute;
  top: 273px;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 1060px;
  height: 4px;
}
.subscription-details {
  position: relative;
  line-height: 40px;
  font-weight: 500;
}
.lorem-ipsum-dolor {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 20px;
  color: var(--body-font-colore);
  text-align: left;
}
.subscription-details-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 193px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--font-size-13xl);
}
.name {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
  font-weight: 500;
}
.group-child2,
.name-parent {
  position: absolute;
  width: 494px;
}
.group-child2 {
  top: 38px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  height: 64px;
}
.name-parent {
  top: 144px;
  left: 7px;
  height: 102px;
}
.eleyas-hasan-wrapper {
  position: absolute;
  top: 202px;
  left: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-lg);
}
.phone-number {
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.group-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 494px;
  height: 64px;
}
.wrapper {
  position: absolute;
  top: 20px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-container {
  position: relative;
  width: 494px;
  height: 64px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.globalfund-wrapper,
.phone-number-parent {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.phone-number-parent {
  top: 291px;
  left: 7px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.globalfund-wrapper {
  top: 20px;
  left: 29px;
  flex-direction: row;
  align-items: center;
}
.group-div {
  position: absolute;
  top: 40px;
  left: 0;
  width: 494px;
  height: 64px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.portfolio-name-parent {
  position: absolute;
  top: 144px;
  left: 549px;
  width: 494px;
  height: 104px;
}
.telegram-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frame-wrapper {
  position: absolute;
  top: 291px;
  left: 549px;
  width: 494px;
  height: 104px;
}
.whatsapp {
  position: relative;
  line-height: 26px;
}
.whatsapp-parent {
  position: absolute;
  top: 433px;
  left: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.group-child7 {
  position: absolute;
  top: 40px;
  left: 4px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 494px;
  height: 64px;
}
.email-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 498px;
  height: 104px;
}
.eleyashasan50gmailcom-wrapper {
  position: absolute;
  top: 52px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-lg);
}
.group-parent1 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 498px;
  height: 104px;
}
.group-wrapper {
  position: relative;
  width: 498px;
  height: 108px;
}
.frame-container {
  position: absolute;
  top: 429px;
  left: 544px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  position: absolute;
  top: 472px;
  left: 190px;
  width: 1060px;
  height: 537px;
  font-size: var(--font-size-xl);
}
.previous-step {
  position: relative;
  line-height: 20px;
}
.frame-div,
.frame-wrapper1,
.previous-step-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-div,
.frame-wrapper1 {
  border-radius: var(--br-5xs);
  flex-direction: column;
  justify-content: center;
}
.frame-div {
  border: 1px solid var(--font-colore);
  padding: var(--padding-sm) 24px;
}
.frame-wrapper1 {
  background-color: var(--promery-colore);
  padding: var(--padding-sm) 40px;
}
.frame-parent {
  position: absolute;
  top: 1081px;
  left: calc(50% - 166px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-base);
}
.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 374px;
}
.our-vision-is {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  display: inline-block;
  width: 312px;
}
.facebook-icon {
  position: relative;
  width: 36px;
  height: 36px;
}
.facebook-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.logo-group,
.our-vision-is-to-provide-conve-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.our-vision-is-to-provide-conve-parent {
  gap: var(--gap-5xl);
  font-size: var(--font-size-base);
  color: var(--paragraph-white-color);
  font-family: var(--font-poppins);
}
.logo-group {
  gap: var(--gap-13xl);
  font-size: var(--font-size-13xl);
  font-family: var(--font-ramabhadra);
}
.logo2 {
  position: relative;
  line-height: 32px;
  font-weight: 500;
}
.logo-container,
.logo-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-parent1 {
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--paragraph-white-color);
}
.logo-container {
  gap: var(--gap-5xl);
}
.logo7 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.frame-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 151px;
}
.frame-child {
  position: relative;
  background-color: rgba(255, 255, 255, 0.19);
  width: 1140px;
  height: 2px;
}
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px;
}
.smartportfolios-all-rights {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  line-height: 150%;
  color: var(--paragraph-white-color);
  display: flex;
  align-items: center;
  width: 328px;
  mix-blend-mode: normal;
}
.frame-group {
  position: absolute;
  top: 48px;
  left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.rectangle-parent3 {
  position: relative;
  width: 1440px;
  height: 374px;
}
.personal-details-inner1 {
  position: absolute;
  top: 1212px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-5xl);
  color: var(--font-white-color);
}
.group-child10,
.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child9 {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-gray-100);
  width: 1130px;
  height: 104px;
}
.group-child10 {
  border-radius: 4px;
  background-color: var(--promery-colore);
  width: 72px;
  height: 72px;
}
.light-1 {
  position: absolute;
  top: 18.67px;
  left: 18.67px;
  width: 34.67px;
  height: 34.67px;
  overflow: hidden;
}
.rectangle-parent5,
.thunder-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
}
.thunder-1-icon {
  top: 18px;
  left: 18px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.group-parent3 {
  position: relative;
  width: 72px;
  height: 72px;
}
.frame-parent3,
.group-parent2 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent3 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.group-parent2 {
  position: absolute;
  top: 16px;
  left: 15.86px;
  width: 535.26px;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.rectangle-parent4 {
  position: absolute;
  top: 220px;
  left: 155px;
  width: 1130px;
  height: 104px;
  text-align: center;
}
.welcome-ratan {
  position: absolute;
  top: 144px;
  left: calc(50% + 345px);
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  color: #d8dbdc;
}
.personal-details {
  position: relative;
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 1586px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--font-colore);
  font-family: var(--font-poppins);
}
