<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->


  <title>Smartportfolio - Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./index.css" />


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- CSS files -->
  <link href="css/custom.css" rel="stylesheet">



  <!-- Toastr style -->
  <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

  <link href="css/animate.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/b978cbdbfe.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/custom.css">


  <!-- Vendor CSS Files -->
  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

  <!-- Toastr style -->
  <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

  <link href="css/animate.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/b978cbdbfe.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/custom.css">


  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


  <script src="./angular/angular-storage.min.js"></script>
  <script src="./angular/angular-payments.js"></script>
  <script src="./angular/app.js"></script>
  <script src="./angular/service.js"></script>
  <script src="./angular/portfolio-alpaca.js"></script>
</head>



</head>

<body ng-app="website" ng-controller="portfolioDetail" ng-init="init()">
  <div class="home-pages">

    <ng-include src="'header/navbar.html'"></ng-include>

    <div id="myDiv">
      <sparkLineChart data="{{portfolioDetails['portfolioroi']}}"></sparkLineChart>
      <!-- <div id="analysisgraph" ></div> -->
    </div>
    <div class="frame-parent">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ">
            <div>
              <div>
                <div class="group-item">
                  <div class="group-parent-tabs2">
                    <div>
                      <div>
                        <img class="group-inner1" alt="" src="./public/group-1000004160.svg" />
                      </div>
                    </div>
                    <div class="frame-group-main">
                      <div class="smartportfolios-group2">
                        <div class="smartportfolios1">{{ portfolioDetails['id']}}</div>
                        <div class="smartportfolios1">-</div>
                        <div class="smartportfolios1">{{ portfolioDetails['portfolio_name'] }} </div>
                      </div>
                      <div class="invest-in-rending">
                        Invest in rending Stocks
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="group-div">
                <div class="lac-invesfed-for-5years-could-parent">
                  <div class="lac-invesfed-for">
                    $1 lac invested for 5 years could have been:
                  </div>
                  <!-- <div class="portfolio-parent">
                    <div class="portfolio">Portfolio</div>
                    <div class="div">₹10,30,853</div>
                  </div>
                  <div class="multicap-parent">
                    <div class="portfolio">Multicap</div>
                    <div class="div">₹10,30,853</div>
                  </div> -->
                  <div class="frame-wrapper">
                    <li class="nav-item dropdown" style="list-style-type: none;" >
                      <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        5 year
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                        <li><a class="dropdown-item" href="#">About Us</a></li>
                        <li><a class="dropdown-item" href="#">Mission</a></li>
                        <!-- Add more dropdown items as needed -->
                      </ul>
                    </li>
                  </div>
                </div>
                <div>
                  <div class="d-flex justify-content-center"> <!-- Adjusted CSS class -->
                    <div id="sharePerDiv" style="width: 300px; height: 300px;"></div>
                    <!-- Adjusted width and height -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div style="height: 100%;">
              <div>

                <div class="subscribe-now-wrapper">
                  <a class="subscribe-now" href="portfolio-alpaca-transaction.html?id={{portfolioId}}">Alpaca Transactions</a>
                </div>


              </div>



              <div ng-if="show == false" style="height: 83%;">
                <div class="frame-parent-side" style="height: 100%;">

                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="icon-tab-0" data-bs-toggle="tab" href="#portfolio-info" role="tab"
                        aria-controls="portfolio-info" aria-selected="true"><i class="fa-solid fa-briefcase"></i>
                        Info</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="icon-tab-1" data-bs-toggle="tab" href="#api-details" role="tab"
                        aria-controls="api-details" aria-selected="false">
                        <i class="fa-solid fa-code"></i> API</a>
                    </li>
                  </ul>

                  <div class="tab-content pt-5" id="tab-content">
                    <div class="tab-pane active" id="portfolio-info" role="tabpanel" aria-labelledby="icon-tab-0">
                      <div class="logo-container" id="igUserDetaiDiv">

                        <div class="y-cagr-parent">
                          <div class="y-cagr">Portfolio Created Date:</div>
                          <div class="high-volatility">{{portfolioDetails.startdate}}</div>
                        </div>
                        <div class="y-cagr-parent">
                          <div class="y-cagr">Portfolio's User Name:</div>
                          <div class="high-volatility">{{portfolioDetails.customer_name}}</div>
                        </div>
                        <div class="y-cagr-parent">
                          <div class="y-cagr">Phone Number:</div>
                          <div class="high-volatility">{{portfolioDetails.whatsapp}}</div>
                        </div>
                        <div class="y-cagr-parent">
                          <div class="y-cagr">Email:</div>
                          <div class="high-volatility">{{portfolioDetails.email}}</div>
                        </div>
                        
                        <button type="button" class="btn btn-primary" style="margin-left: 265px;" ng-click="addAccess()" href="#">Add Access</button>

                        <div class="ibox-content" style="margin-left: 100px;">
                          <div class="table-container"> <!-- Added container -->
                            <div class="table-responsive mt-3">
                              <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                  <tr>
                                    <th>Email</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="data in AcccessList">
                                    <td>{{data.customer_email}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        
                       
                      </div>
                    </div>
                    <div class="tab-pane" id="api-details" role="tabpanel" aria-labelledby="icon-tab-1">
                      <button type="button" class="btn btn-primary" style="margin-left: 265px;" ng-click="testAccount()" href="#">Test</button>
                      <div class="form" id="igUserFormDiv">
                        <form name="myForm">

        

                          <div class="form-group">
                            <label for="api_key">API Key:</label>
                            <input type="text" max="100" class="form-control" ng-model="addapidata.api_key"
                              name="api_key" required placeholder="Enter API Key">
                          </div>

                          <div class="form-group">
                            <label for="api_secret">API Secret:</label>
                            <input type="text" max="100" class="form-control" ng-model="addapidata.api_secret"
                              name="api_secret" required placeholder="Enter API Secret">
                          </div>


                          <div class="form-group">
                            <label for="api_endpoint">API Endpoint:</label>
                            <input type="text" max="100" class="form-control" ng-model="addapidata.api_endpoint"
                              name="api_endpoint" required placeholder="Enter API Endpoint">
                          </div>


                          <div class="row">
                            <div class="col-md-6">
                              <button type="submit" ng-click="onaddAPISubmit(addapidata)"
                                class="btn btn-primary block full-width m-b">Submit</button>
                            </div>
                            <div class="col-md-6">
                              <button type="button" class="btn btn-primary block full-width m-b">Cancel</button>
                            </div>
                          </div>


                        </form>
                      </div>

                    </div>
                  </div>







                </div>
              </div>


              <div ng-if="show== true" style="height: 83%;">
                <div class="frame-parent-side" style="height: 100%;">
                  <div class="logo-container">
                    <!-- Add Robots link -->
                    <div class="y-cagr-parent"
                      ng-if="portfolioDetails['portfolio_name'] === 'USSMALLSTOCKS' || portfolioDetails['portfolio_name'] === 'CRYPTOFUND' || portfolioDetails['portfolio_name'] === 'USSTOCK' || portfolioDetails['portfolio_name'] === 'USETFFUND'">
                      <div class="y-cagr robot-css" ng-click="alpaca()">
                        <img class="frame-child7" alt="" style="width: 34px; margin-right: 5px; height: 34px; "
                          src="./public/alpaca.png" />
                        Subscribe Alpaca
                      </div>
                    </div>
                    <!-- <h1>{{portfolioname}}dfsdf {{ portfolioDetails['portfolio_name'] }}</h1> -->

                    <div class="y-cagr-parent" ng-if="portfolioDetails['portfolio_name'] === 'USSMALLSTOCKS'">
                      <div class="y-cagr robot-css" ng-click="ig()">
                        <img class="frame-child7" alt="" style="width: 34px; margin-right: 5px; height: 34px; "
                          src="./public/alpaca.png" />
                        Subscribe IG
                      </div>
                    </div>
                    <div class="y-cagr-parent" ng-if="portfolioDetails['portfolio_name'] === 'INDIA10'">
                      <div class="y-cagr robot-css" ng-click="aliceblue()">
                        <img class="frame-child7" alt="" style="width: 34px; margin-right: 5px; height: 34px; "
                          src="./public/alpaca.png" />
                        Subscribe Alice Blue
                      </div>
                    </div>

                    <div class="y-cagr-parent">
                      <div class="y-cagr">Plan Name :</div>
                      <div class="high-volatility">{{plan_name}}</div>
                    </div>

                    <div class="y-cagr-parent">
                      <div class="y-cagr">Cost:</div>
                      <div class="high-volatility">{{cost}} USD</div>
                    </div>

                    <div class="y-cagr-parent">
                      <div class="y-cagr">Start Date:</div>
                      <div class="high-volatility">{{startdate | date}}</div>
                    </div>

                    <div class="y-cagr-parent">
                      <div class="y-cagr">End Date:</div>
                      <div class="high-volatility">{{enddate | date}}</div>
                    </div>




                    <!-- <div class="y-cagr-parent">
                      <div class="y-cagr">Start Date:</div>
                      <div class="high-volatility">{{portfolioDetails.portfolio_startDate}}</div>
                    </div>
                    <div class="y-cagr-parent">
                      <div class="y-cagr">End Date:</div>
                      <div class="high-volatility">{{formattedEndDate}}</div>
                    </div>
                    <div class="y-cagr-parent">
                      <div class="y-cagr">Duration:</div>
                      <div class="high-volatility">{{portfolioDetails.portfolio_duration}} days</div>
                    </div>
                    <div class="y-cagr-parent">
                      <div class="y-cagr">ROI :</div>
                      <div class="high-volatility">{{portfolioDetails.roi}}</div>
                    </div>
                    <div class="y-cagr-parent">
                      <div class="y-cagr">Investment</div>
                      <div class="high-volatility">{{portfolioDetails.capital}}</div>
                    </div> -->
                  </div>
                  <div class="more-insights-parent">
                    <div class="more-insights">More Insights</div>
                    <img class="path-12248-stroke" alt="" src="./public/path-12248-stroke.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container tabs-section">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="icon-tab-0" data-bs-toggle="tab" href="#Active-stocks" role="tab"
            aria-controls="Active-stocks" aria-selected="true"><i class="fa-solid fa-check"></i> Active Stocks</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="icon-tab-1" data-bs-toggle="tab" href="#Inactive-stocks" role="tab"
            aria-controls="Inactive-stocks" aria-selected="false"><i class="fa-solid fa-circle-xmark"></i> Inactive
            Stocks</a>
        </li>
      </ul>

    </div>
  

    <div class="tab-content pt-5" id="tab-content">
      <div class="tab-pane active" id="Active-stocks" role="tabpanel" aria-labelledby="icon-tab-0">
        <div class="container tabs-section">
          <h2>Stock List</h2>
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title">
                  <div class="row">
                    <div class="col-lg-8">
                      <h5>
                        <button type="button" class="btn btn-w-m btn-primary" data-toggle="modal"
                          ng-click="addstock_modal(portfolioDetails['customer_id'] , portfolioDetails['id'], portfolioDetails['portfolioId'], portfolioDetails['ig_username'], portfolioDetails['investment_amount'], portfolioDetails['api_key'], portfolioDetails['ig_password'], portfolioDetails['api_type'])">
                          Add Stocks
                        </button>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="ibox-content">
                  <div class="table-container"> <!-- Added container -->
                    <div class="table-responsive mt-3">
                      <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                          <tr>
                            <th>Stock</th>
                            <th>Last Price</th>
                            <th>Allocated QTY</th>
                            <th>Buying Qty</th>
                            <th>Margin</th>
                            <th>Buying Ratio</th>
                            <th>M percentage</th>
                            <th>Allocated Value</th>
                            <th>Allocated Percentage</th>
                            <th>Edit</th>
                            <th>BUY</th>
                            <th>SELL</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="data in stockData">
                            <td><a href="stock-detail.html?stock={{data.stock}}&source={{data.source}}&portfolioId={{portfolioDetails['id']}}&robot={{'alpaca'}}">{{data.stock}}</a></td>
                            <td>{{data.lastprice}}</td>
                            <td>Qty: {{data.allocated_qty | number : 2}}</td>
                            <td>{{data.buying_qty | number : 2}}</td>
                            <td>{{data.margin | number : 2}}</td>
                            <td>{{data.buying_ratio}}</td>
                            <td>{{data.margin_percentage}}</td>
                            <td>{{data.allocated_value}}</td>
                            <td>{{data.allocated_percentage}}</td>
                            <td class="center">
                              <a href="#" data-toggle="modal"
                                ng-click="editstockmodal(data, portfolioDetails['customer_id'] , portfolioDetails['id'], portfolioDetails['portfolioId'], portfolioDetails['ig_username'], portfolioDetails['investment_amount'], portfolioDetails['api_key'], portfolioDetails['ig_password'], portfolioDetails['api_type'])">
                                Edit
                              </a>
                            </td>
                            <td class="center">
                              <a href="#" data-toggle="modal"
                                ng-click="buyAndsellOpenPosistion(data.id,  portfolioDetails['id'], portfolioDetails['api_key'], 'buy')">
                                BUY
                              </a>
                            </td>
                            <td class="center">
                              <a href="#" data-toggle="modal"
                                ng-click="buyAndsellOpenPosistion(data.id, portfolioDetails['id'], portfolioDetails['api_key'], 'sell')">
                                SELL
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="Inactive-stocks" role="tabpanel" aria-labelledby="icon-tab-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title">
                </div>
                <div class="ibox-content">
                  <div class="table-container"> <!-- Added container -->
                    <div class="table-responsive mt-3">
                      <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                          <tr>
                            <th>Stock</th>
                            <th>Last Price</th>
                            <th>Allocated QTY</th>
                            <th>Buying Qty</th>
                            <th>Margin</th>
                            <th>Buying Ratio</th>
                            <th>M percentage</th>
                            <th>Allocated Value</th>
                            <th>Allocated Percentage</th>
                            <th>Edit</th>
               
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="data in InactivestockData">
                            <td>{{data.stock}}</td>
                            <td>{{data.lastprice}}</td>
                            <td>Qty: {{data.allocated_qty | number : 2}}</td>
                            <td>{{data.buying_qty | number : 2}}</td>
                            <td>{{data.margin | number : 2}}</td>
                            <td>{{data.buying_ratio}}</td>
                            <td>{{data.margin_percentage}}</td>
                            <td>{{data.allocated_value}}</td>
                            <td>{{data.allocated_percentage}}</td>
                            <td class="center">
                              <a href="#" data-toggle="modal"
                                ng-click="editstockmodal(data, portfolioDetails['customer_id'] , portfolioDetails['id'], portfolioDetails['portfolioId'], portfolioDetails['ig_username'], portfolioDetails['investment_amount'], portfolioDetails['api_key'], portfolioDetails['ig_password'], portfolioDetails['api_type'])">
                                Edit
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="tab-pane" id="icon-tabpanel-2" role="tabpanel" aria-labelledby="icon-tab-2">Content of Tab 3</div>
    </div>


    <div class="container tabs-section">
      <h2>Open Position</h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox ">
            <div class="ibox-content">
              <div class="table-responsive mt-3">
                <table class="table table-striped table-bordered table-hover dataTables-example">
                  <thead>
                    <tr>
                      <th>Asset Class</th>
                      <th>Avg Entry Price</th>
                      <th>Cost Basis</th>
                      <th>Current Price</th>
                      <th>Lastday Price</th>
                      <th>Market Value</th>
                      <th>Qty</th>
                      <th>Qty Available</th>
                      <th>Side</th>
                      <th>Symbol</th>
                      <th>Edit Order</th>
                      <th>Close Order</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr ng-repeat="position in igdashboarddata">
                      <td>{{position.asset_class}}</td>
                      <td>{{position.avg_entry_price}}</td>
                      <td>{{position.cost_basis}}</td>
                      <td>{{position.current_price}}</td>
                      <td>{{position.lastday_price}}</td>
                      <td>{{position.market_value}}</td>
                      <td>{{position.qty}}</td>
                      <td>{{position.qty_available}}</td>
                      <td>{{position.side}}</td>
                      <td>{{position.symbol}}</td>
                      <td class="center"><a href="#" data-toggle="modal"
                          ng-click="editIgPosition(position.dealId, position.stopLevel, position.limitLevel)">Edit
                          Order</a></td>
                          <td class="center"><a href="#" data-toggle="modal" ng-click="closePosition(position.symbol)">Close
                            Order</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


        <!-- allow Access modal starts-->
        <div class="modal inmodal" id="allowAccessModel" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content animated fadeIn">
              <div class="modal-header">
                <div class="custom-close" data-dismiss="modal" ng-click="closeModal('allowAccessModel')" aria-label="Close"></div>
                <h4 class="modal-title">Access</h4>
              </div>
              <div class="modal-body">
      
                <!-- Modal form section starts -->
                <div class="form">
                  <form name="myForm">
                    <div class="row">
        
      
                    <div class="form-group">
                        <label for="customer_email" class="text-dark">Email:</label>
                        <input  min="0" max="100" class="form-control"
                            ng-model="allowAccessModel.customer_email" name="customer_email" required>
                    </div>
      
                    </div>
      
                    <button type="submit" ng-click="portfolioAccessSubmit(allowAccessModel)"
                      class="btn btn-primary block full-width m-b">Submit</button>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        <!-- allow Accessn modal ends-->

    <!-- <div class="container tabs-section">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item nav-li-tab">
              <a class="nav-link active" data-bs-toggle="tab" href="#tab1">Overview</a>
            </li>
            <li class="nav-item nav-li-tab">
              <a class="nav-link" data-bs-toggle="tab" href="#tab2">How is the Portfolio made?</a>
            </li>
            <li class="nav-item nav-li-tab">
              <a class="nav-link" data-bs-toggle="tab" href="#tab3">Stocks</a>
            </li> -->
            <!-- Add more tabs as needed -->
          <!-- </ul>
        </div>
        <div class="col-md-9 tab-pane-main">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tab1">
              <div class="group-parent-tabs">
                <div>
                  <div>
                    <img class="group-inner1" alt="" src="./public/group-1000004160.svg" />
                  </div>
                </div>
                <div class="frame-group-main">
                  <div class="smartportfolios-group">
                    <div class="smartportfolios1">Smartportfolios</div>
                    <img class="vector-icon" alt="" src="./public/vector.svg" />

                    <div class="smartportfolios1">Momentum</div>
                  </div>
                  <div class="invest-in-rending">
                    Invest in rending Stocks
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab2">
              <h3>Brief Introduction</h3>
              <p>{{portfolioDetails['briefintro']}}</p>

            </div>


            <div class="tab-pane fade" id="tab3">
              <h3>Stocks</h3>

              <div class="col-md-12" ng-repeat="data in stockData">
                <div class="frame-wrapper2" style="background-color: var(--color-gray-400); padding: 15px;">
                  <div class="stocks-tab-main">
                    <div class="stocks-tab">
                      <img class="frame-img" alt="" src="./public/stockLogo.png" />
                      <div class="google">{{data.stock}}</div>
                    </div>
                    <span  style="width: 1000px;">Qty: {{data.qty | number : 2}}</span> 
                    <div class="technology"> {{data.source}}</div>
                  </div>
                </div>
              </div>


            </div> -->
            <!-- Add more tab content as needed -->
          <!-- </div>
        </div>
      </div>
    </div> --> 


    <div class="container">
      <div class="frame-parent222">
        <div class="row">
          <!-- <div class="col-md-6" ng-repeat="data in stockData">
            <div class="frame-wrapper2" style="background-color: var(--color-gray-400); padding: 15px;">
              <div class="stocks-tab-main">
                <div class="stocks-tab">
                  <img class="frame-img" alt="" src="./public/stockLogo.png" />
                  <div class="google">{{data.stock}}</div>
                </div>
                <div class="technology">{{data.source}}</div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <div class="container tabs-section">
      <h2>Stock Signals</h2>
      <!-- <table class="table table-bordered">
        <thead>
          <tr style="color: white;">
            <th>Symbol</th>
            <th>Portfolio Name</th>
            <th>Signals</th>
            <th>Close</th>
            <th>Date Time</th>
            <th>Profit/Loss</th>
            <th *ngIf="showColumn('tp3')">TP3</th>
            <th *ngIf="showColumn('lp3')">LP3</th>
          </tr>
        </thead>
        <tbody style="color: white;">
          <tr ng-repeat="signal in signals">
            <td>{{ signal.symbol }}</td>
            <td>{{ signal.portfolio_name }}</td>
            <td>{{ signal.signals }}</td>
            <td>{{ signal.close }}</td>
            <td>{{ signal.datetime }}</td>
            <td>{{ signal.profitloss }}</td>
            <td *ngIf="showColumn('tp3')">{{ signal.tp3 }}</td>
            <td *ngIf="showColumn('lp3')">{{ signal.lp3 }}</td>
          </tr>
        </tbody>
      </table> -->

      <div class="table-responsive mt-3">
      <table class="table table-bordered table-hover dataTables-example">
        <thead>
            <tr>
                <tr>
                    <th class="whitefont" >Sr. Number</th>
                    <th class="whitefont" >Stock Name</th>
                    <th class="whitefont" >Source </th>
                    <!-- <th class="whitefont">Portfolio Name</th> -->
                    <th class="whitefont">Start Signals</th>
                    <th class="whitefont">Start Datetime</th>
                    <th class="whitefont">Start Price</th>
                     <th class="whitefont">End Signals</th>
                    <th class="whitefont">End Datetime</th> 
                    <th class="whitefont">End Price</th>
                    <th class="whitefont">Duration</th>
                    <!-- <th class="whitefont">TP1</th>
                    <th class="whitefont">TP2</th> -->
                    <th class="whitefont">TP3</th>
                    <!-- <th class="whitefont">LP1</th>
                    <th class="whitefont">LP2</th> -->  





                    <th class="whitefont">LP3</th>
                    <!-- <th class="whitefont">Diffrence</th>
                    
                    <th class="whitefont">Slope</th>
                    <th class="whitefont">Deviation Factor</th> -->

                    <th class="whitefont">Profit/Loss</th>
                    <th class="whitefont">Notes</th>
                    <!-- <th class="whitefont">Status</th>
                    <th class="whitefont">Result</th> -->

               
                    <!-- <th class="whitefont" >Edit</th>
                    <th class="whitefont">Delete</th> -->

                </tr>


            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in signals">
                <td class="whitefont">{{$index + 1}} </td>
                <td class="whitefont" ><a href="/admin/robot-detail.html?stock={{data.stock}}&source={{data.source}}"> {{data.stock}}</a></td>
                <!-- <td class="whitefont" > {{data.stock}}</td> -->

                <td class="whitefont" >{{data.source}}</td>
                <!-- <td class="whitefont" >{{data.portfolio_name}}</td> -->
                <td class="whitefont" >{{data.start_signals}}</td>
                <td class="whitefont" >{{data.start_datetime | date:'short'}}</td>
                <td class="whitefont" >{{data.start_price}}</td>

                <td class="whitefont" >{{data.end_signals}}</td>
                <td class="whitefont" >{{data.end_datetime | date:'short'}}</td>
                <td class="whitefont" >{{data.end_price}}</td>

                <td class="whitefont" >{{data.duration}}</td>
                <td class="whitefont" >{{data.tp3}}</td>
                <td class="whitefont" >{{data.lp3}} </td>
                <!-- <td class="whitefont" >{{data.tp3 - data.lp3}}</td> -->
                
                <!-- <td class="whitefont" >{{data.slope}}</td>
                <td class="whitefont" >{{data.deviationfactor}}</td> -->

                <td class="whitefont" >{{data.profitloss}}</td>
                <td class="whitefont" >{{data.notes}}</td>
                <!-- <td class="whitefont" >{{data.status}}</td>
                <td class="whitefont" >{{data.result}}</td> -->


                
              

                     
                <!-- <th class="whitefont" ><a href="#" ng-click="onedit(data)" >Edit</a></th>
                <th class="whitefont" ><a href="#" ng-click="ondelete(data)" >Delete</a></th> -->


            </tr>
        </tbody>
    </table>
    </div>
    </div>

    <div class="container">
      <div class="other-portfolios">Other Portfolio</div>
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xs-12" ng-repeat="data in displayedItems">
          <div class="rectangle-parent5 mb-4">
            <div class="group-child4"></div>
            <div class="group-child5" style="cursor: pointer;" ng-click="goToPortfolioPage(data.id)">
              <a style="cursor: pointer; display: block; height: 100%;" ng-click="goToPortfolioPage(data.id)">
                <div class="view-portfolio-wrapper">
                  <div class="viezh-robert">View Portfolio</div>
                </div>
              </a>
            </div>
            <div class="group-parent2">
              <div class="group-parent3">
                <div class="rectangle-wrapper">
                  <div class="rectangle-wrapper">
                    <div class="group-child6"></div>
                  </div>
                  <div class="frame-parent15">
                    <div class="frame-wrapper">
                      <div class="group-parent5">
                        <img class="frame-child7" alt="" src="./public/group-1000004160.svg" />

                        <div class="viezh-robert-parent">
                          <div class="viezh-robert">{{data.portfolio_name}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent6">
                  <div class="group-child7"></div>
                  <div class="frame-parent16">
                    <div class="frame-wrapper1">
                      <div class="group-parent5">
                        <div class="viezh-robert">{{data.currency}} {{data.capital}}</div>
                        <div class="min-investment">Min. Investment</div>
                      </div>
                    </div>
                    <!-- <img class="frame-icon" alt="" src="./public/frame.svg" /> -->
                    <sparkLineChart ata="{{data.portfolioroi}}"></sparkLineChart>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <div class="row-main">
                    <div class="col-md-5 col-main first-col">
                      <div class="row align-items-center mb-3">
                        <div class="col">
                          <div class="high-risk">Start Date</div>
                          <div class="half-yearly">{{data.portfolio_startDate}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-main first-col">
                      <div class="row align-items-center mb-3">
                        <div class="col">
                          <div class="high-risk">ROI</div>
                          <div class="half-yearly">{{data.roi}}%</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-main">
                      <div class="row align-items-center mb-3">
                        <div class="col">
                          <div class="high-risk">Benchmark</div>
                          <div class="half-yearly">50.6%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- modal starts-->
  <div class="modal inmodal" id="closeOpenPositionMdl" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated fadeIn">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span></button>
          <img src="Iamstockbot-Logo.png" style="width:120px; height:80px;">
          <h4 class="modal-title">Iamstockbot</h4>

        </div>
        <div class="modal-body">
          <!--modal form section starts-->
          <div class="form">
            <h3> Confirm Stock Delete</h3>

            <form name="myForm">


              <button type="submit" ng-click="confrimClosePosition()"
                class="btn btn-primary btn-w-m block full-width m-b">Submit</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

    <div class="rectangle-parent4">
      <div class="">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 logo-parent">
              <div class="logo"><a href="/fresh/index.html"><img class="frame-logo" alt="logo"
                    src="./public/logo.png" /></a></div>
              <div class="our-vision-is-to-provide-conve-parent">
                <div class="our-vision-is">
                  Our vision is to provide convenience and help increase your
                  sales business.
                </div>
                <div class="facebook-parent">
                  <img class="facebook-icon" alt="" src="./public/facebook.svg" />

                  <img class="facebook-icon" alt="" src="./public/twitter.svg" />

                  <img class="facebook-icon" alt="" src="./public/linkedin.svg" />

                  <img class="facebook-icon" alt="" src="./public/group.svg" />
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 logo-group">
              <div class="div">About</div>
              <div class="logo-container">
                <div class="start-investing"><a href="/how-it-work.html">How it work</a></How></div>
                <div class="start-investing"><a href="/featured.html">Featured</a></div>
                <div class="start-investing"><a href="/partnership.html">Partnership</a></div>
                <div class="start-investing"><a href="/business-relation.html">Business Relation</a></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 logo-group">
              <div class="logo6">Community</div>
              <div class="logo-container">
                <div class="start-investing"><a href="/event.html">Events</a></div>
                <div class="start-investing"><a href="/blog.html">Blog</a></div>
                <div class="start-investing"><a href="/podcast.html">Podcast</a></div>
                <div class="start-investing"><a href="/invite-friend.html">Invite a friend</a></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 logo-group">
              <div class="logo6">Socials</div>
              <div class="logo-container">
                <div class="start-investing">Discord</div>
                <div class="start-investing">Instagram</div>
                <div class="start-investing">Twitter</div>
                <div class="start-investing">Facebook</div>
              </div>
            </div>
          </div>
          <div class="footer-line"></div>
        </div>
        <div class="smartportfolios-all-rights">
          ©2023 SmartPortfolios. All rights reserved
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<style>
  .robot-css{position: relative;
                      border-radius: var(--br-5xs);
                      background-color: #143443;
                      width: 100%;
                      text-align: center;
                      padding: 8px 18px;
                      cursor: pointer;}
</style>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="js/inspinia.js"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/644f791631ebfa0fe7fb52e9/1gvb7202o';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->