<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->


  <title>Smartportfolio - Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./index.css" />


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- CSS files -->
  <link href="css/custom.css" rel="stylesheet">



  <!-- Toastr style -->
  <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

  <link href="css/animate.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/b978cbdbfe.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/custom.css">


  <!-- Vendor CSS Files -->
  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

  <!-- Toastr style -->
  <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

  <link href="css/animate.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/b978cbdbfe.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/custom.css">


  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <script src="./angular/angular-storage.min.js"></script>
  <script src="./angular/angular-payments.js"></script>
  <script src="./angular/app.js"></script>
  <script src="./angular/service.js"></script>
  <script src="./angular/portfolio-ig-transaction.js"></script>
</head>





</head>

<body ng-app="website" ng-controller="portfolioDetail" ng-init="init()">
  <div class="im_loading" ng-show="imLoading"></div>
  <div class="home-pages">

    <ng-include src="'header/navbar.html'"></ng-include>


    <div id="myDiv">
      <sparkLineChart data="{{portfolioDetails['portfolioroi']}}"></sparkLineChart>
      <!-- <div id="analysisgraph" ></div> -->
    </div>

    

    <div class="container tabs-section">
      <h2>Open Position</h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox ">
            <div class="ibox-content">
              <div class="table-responsive mt-3">
                <table class="table table-striped table-bordered table-hover dataTables-example">
                  <thead>
                    <tr>
                      <th>createdDate</th>
                      <th>dealId</th>
                      <th>Current Price</th>
                      <th>Opening Price</th>
                      <th>size</th>
                      <th>limitLevel</th>
                      <th>stopLevel</th>
                      <th>direction </th>
                      <th>contractSize</th>
                      <th>expiry</th>
                      <th>high</th>
                      <th>instrumentName</th>
                      <th>instrumentType</th>
                      <th>limitedRiskPremium</th>
                      <th>lotSize</th>
                      <th>marketStatus</th>
                      <th>netChange</th>
                      <th>percentageChange</th>
                      <th>scalingFactor</th>
                      <th>currency</th>
                      <th>Edit Order</th>
                      <th>Close Order</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="position in igdashboarddata">
                      <td>{{position.createdDate}}</td>
                      <td>{{position.dealId}}</td>
                      <td>{{position.bid}}</td>
                      <td>{{position.level}}</td>
                      <td>{{position.size}}</td>
                      <td>{{position.limitLevel}}</td>
                      <td>{{position.stopLevel}}</td>
                      <td>{{position.direction}}</td>
                      <td>{{position.contractSize}}</td>
                      <td>{{position.expiry}}</td>
                      <td>{{position.high}}</td>
                      <td>{{position.instrumentName}}</td>
                      <td>{{position.instrumentType}}</td>
                      <td>{{position.limitedRiskPremium}}</td>
                      <td>{{position.lotSize}}</td>
                      <td>{{position.marketStatus}}</td>
                    
                        <td ng-if="position.netChange >= 0" class="text-success">
                          {{ position.netChange }}
                        </td>
                        
                        <td ng-if="position.netChange < 0" class="text-danger">
                          {{ position.netChange }}
                        </td>

                        <td ng-if="position.percentageChange >= 0" class="text-success">
                          {{ position.percentageChange }}
                        </td>
                        
                        <td ng-if="position.percentageChange < 0" class="text-danger">
                          {{ position.percentageChange }}
                        </td>
                        
                      <td>{{position.scalingFactor}}</td>
  
                      <td>{{position.currency}}</td>
                      <td class="center"><a href="#" data-toggle="modal"
                          ng-click="editIgPosition(position.dealId, position.stopLevel, position.limitLevel)">Edit
                          Order</a></td>
                      <td class="center"><a href="#" data-toggle="modal" ng-click="closePosition(position.dealId)">Close
                          Order</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="container tabs-section">
      <h2>Stock Transaction</h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox ">
            <div class="ibox-content">
              <div class="table-responsive mt-3">
                <table class="table table-striped table-bordered table-hover dataTables-example">
                  <thead>
                    <tr>
                      <th>Sr. Number</th>
                      <th>Date Time </th>
                      <th>Deal Id</th>
                      <th>Stock</th>
                      <th>Signals</th>
                      <th>Start Price</th>
                      <th>End Price</th>
                      <th>Margin</th>
                      <th>Take Profit</th>
                      <th>Stop Loss</th>
                      <th>Profit/Loss</th>
                      <th>Duration</th>
                      <th>Epic</th>
                      <th>Qty</th>
                      <th>Allocated Value</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="data in transactionData">
                      <td>{{$index + 1}}</td>
                      <td>{{data.datetime}}</td>
                      <td>{{data.deal_id}}</td>
                      <td>{{data.stock}}</td>
                      <td>{{data.signals}}</td>
                      <td>{{data.start_price}}</td>
                      <td>{{data.end_price}}</td>
                      <td>{{data.margin}}</td>
                      <td>{{data.takeprofit}}</td>
                      <td>{{data.stoploss}}</td>
                      <td>{{data.profitloss}}</td>
                      <td>{{data.duration}}</td>
                      <td>{{data.epic}}</td>
                      <td>Qty: {{data.qty | number : 2}}</td>
                      <td>{{data.allocatedvalue | number : 2}}</td>


                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>



    <div class="frame-parent">
      <div class="container">
        <div class="row">
          <div class="col-md-7 ">
            <div>
              <div>
                <div class="group-item">
                  <div class="group-parent-tabs2">
                    <div>
                      <div>
                        <img class="group-inner1" alt="" src="./public/group-1000004160.svg" />
                      </div>
                    </div>
                    <div class="frame-group-main">
                      <div class="smartportfolios-group2">
                        <div class="smartportfolios1">{{ portfolioDetails['id']}}</div>
                        <div class="smartportfolios1">-</div>
                        <div class="smartportfolios1">{{ portfolioDetails['portfolio_name'] }} </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
              <div class="group-div">
                <div class="lac-invesfed-for-5years-could-parent">
                
                 
                  <div class="frame-wrapper">
                 
                  </div>
                </div>
                <div>
                  <div>
                    <div class="d-flex justify-content-center"> <!-- Adjusted CSS class -->
                      <div id="analysisgraph" ></div>
                      <!-- Adjusted width and height -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
            

              <div class="col-md-4">
                <div class="subscribe-now-wrapper">
                    <a class="subscribe-now" href="portfolio-ig.html?id={{portfolioId}}">Portfolio Breakdown</a>
                  </div>
                <div class="align-items-stretch" >
                    <div class="card_new justify-content-left mt-3">
                        <div class="card-header py-3">
                            <h5>{{ stock }}</h5>
                            <h5 class="mt-4">Winrate: {{ winratepercentage }}%</h5>
                            <div id="winratediv" style="height:40vh"></div>
                            <h5 class="mt-4">Profit Loss: {{ total }}</h5>
                            <!-- <div id="profitlossgraph"></div> -->
                            <div id="profitlossgraph" style="height:40vh" ></div>
                        </div>
                    </div>
                </div>
            </div>

              
          
        </div>
      </div>
    </div>

    


    <!-- <div class="container tabs-section">
      <div class="row">
        <div class="col-md-12 tab-pane-main">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="tab3">
              <h3>Stocks</h3>
              <div class="col-lg-8">
                <h5><button type="button" class="btn btn-w-m btn-primary" data-toggle="modal" ng-click="">Add
                    Stocks</button></h5>
              </div>
              <div class="col-md-12" ng-repeat="data in stockData">
                <div class="frame-wrapper2" style="background-color: var(--color-gray-400); padding: 15px;">
                  <div class="stocks-tab-main">
                    <div class="stocks-tab">
                      <img class="frame-img" alt="" src="./public/stockLogo.png" />
                      <div class="google">{{data.stock}}</div>
                    </div>
                    <span style="width: 1000px;">Qty: {{data.qty | number : 2}}</span>
                    <div class="technology"> {{data.source}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->




    

    <div class="container">
      <div class="other-portfolios">Other Portfolio</div>
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xs-12" ng-repeat="data in displayedItems">
          <div class="rectangle-parent5 mb-4">
            <div class="group-child4"></div>
            <div class="group-child5" style="cursor: pointer;" ng-click="goToPortfolioPage(data.id)">
              <a style="cursor: pointer; display: block; height: 100%;" ng-click="goToPortfolioPage(data.id)">
                <div class="view-portfolio-wrapper">
                  <div class="viezh-robert">View Portfolio</div>
                </div>
              </a>
            </div>
            <div class="group-parent2">
              <div class="group-parent3">
                <div class="rectangle-wrapper">
                  <div class="rectangle-wrapper">
                    <div class="group-child6"></div>
                  </div>
                  <div class="frame-parent15">
                    <div class="frame-wrapper">
                      <div class="group-parent5">
                        <img class="frame-child7" alt="" src="./public/group-1000004160.svg" />

                        <div class="viezh-robert-parent">
                          <div class="viezh-robert">{{data.portfolio_name}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent6">
                  <div class="group-child7"></div>
                  <div class="frame-parent16">
                    <div class="frame-wrapper1">
                      <div class="group-parent5">
                        <div class="viezh-robert">{{data.currency}} {{data.capital}}</div>
                        <div class="min-investment">Min. Investment</div>
                      </div>
                    </div>
                    <!-- <img class="frame-icon" alt="" src="./public/frame.svg" /> -->
                    <sparkLineChart ata="{{data.portfolioroi}}"></sparkLineChart>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <div class="row-main">
                    <div class="col-md-5 col-main first-col">
                      <div class="row align-items-center mb-3">
                        <div class="col">
                          <div class="high-risk">Start Date</div>
                          <div class="half-yearly">{{data.portfolio_startDate}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-main first-col">
                      <div class="row align-items-center mb-3">
                        <div class="col">
                          <div class="high-risk">ROI</div>
                          <div class="half-yearly">{{data.roi}}%</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-main">
                      <div class="row align-items-center mb-3">
                        <div class="col">
                          <div class="high-risk">Benchmark</div>
                          <div class="half-yearly">50.6%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rectangle-parent4">
      <div class="">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 logo-parent">
              <div class="logo"><a href="/fresh/index.html"><img class="frame-logo" alt="logo"
                    src="./public/logo.png" /></a></div>
              <div class="our-vision-is-to-provide-conve-parent">
                <div class="our-vision-is">
                  Our vision is to provide convenience and help increase your
                  sales business.
                </div>
                <div class="facebook-parent">
                  <img class="facebook-icon" alt="" src="./public/facebook.svg" />

                  <img class="facebook-icon" alt="" src="./public/twitter.svg" />

                  <img class="facebook-icon" alt="" src="./public/linkedin.svg" />

                  <img class="facebook-icon" alt="" src="./public/group.svg" />
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 logo-group">
              <div class="div">About</div>
              <div class="logo-container">
                <div class="start-investing"><a href="/how-it-work.html">How it work</a></How>
                </div>
                <div class="start-investing"><a href="/featured.html">Featured</a></div>
                <div class="start-investing"><a href="/partnership.html">Partnership</a></div>
                <div class="start-investing"><a href="/business-relation.html">Business Relation</a></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 logo-group">
              <div class="logo6">Community</div>
              <div class="logo-container">
                <div class="start-investing"><a href="/event.html">Events</a></div>
                <div class="start-investing"><a href="/blog.html">Blog</a></div>
                <div class="start-investing"><a href="/podcast.html">Podcast</a></div>
                <div class="start-investing"><a href="/invite-friend.html">Invite a friend</a></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 logo-group">
              <div class="logo6">Socials</div>
              <div class="logo-container">
                <div class="start-investing">Discord</div>
                <div class="start-investing">Instagram</div>
                <div class="start-investing">Twitter</div>
                <div class="start-investing">Facebook</div>
              </div>
            </div>
          </div>
          <div class="footer-line"></div>
        </div>
        <div class="smartportfolios-all-rights">
          ©2023 SmartPortfolios. All rights reserved
        </div>
      </div>
    </div>

  </div>
  <!-- modal starts-->
  <div class="modal inmodal" id="addstock" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated fadeIn">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span></button>
          <img src="img/botico.png" class="ml-3">
          <h4 class="modal-title">Iamstockbot</h4>

        </div>
        <div class="modal-body">
          <!--modal form section starts-->
          <div class="form">
            <h3> Add Stock</h3>
            <p> Please select the stock for your portfolio.</p>
            <form name="myForm">
              <div class="form-group">
                <label for="stockname">Stock Name:</label>
                <select class="custom-select" ng-change="updatestocksource(addstock.stock)" ng-model="addstock.stock"
                  required name="stockname">
                  <option value="" disabled></option>
                  <option ng-repeat="stock in stockdata_list" value="{{stock.stock}}">
                    {{stock.stock}}</option>

                </select>


              </div>
              <div class="form-group">
                <label for="stockname">Stock Source:</label>

                <select class="custom-select" ng-model="addstock.source" required name="stockname">
                  <!-- <option value="" disabled></option> -->
                  <option ng-repeat="stock in stockdata_list" ng-if="stock.stock === addstock.stock"
                    value="{{stock.source}}">
                    {{stock.source}}</option>

                </select>


              </div>


              <div class="form-group">
                <label for="stockpercentage">Percentage Allocation:</label>
                <input type="number" min="0" max="100" class="form-control" ng-model="addstock.percentage"
                  name="percentage" required>
              </div>

              <div class="form-group">
                <label for="stockpercentage">Status:</label>
                <input type="text" min="0" max="100" class="form-control" ng-model="addstock.status" name="status"
                  required>
              </div>
              <button type="submit" ng-click="onaddstockSubmit(addstock)"
                class="btn btn-primary block full-width m-b">Submit</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <!-- modal starts-->
  <div class="modal inmodal" id="closeOpenPositionMdl" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated fadeIn">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span></button>
          <img src="Iamstockbot-Logo.png" style="width:120px; height:80px;">
          <h4 class="modal-title">Iamstockbot</h4>

        </div>
        <div class="modal-body">
          <!--modal form section starts-->
          <div class="form">
            <h3> Confirm Stock Delete</h3>

            <form name="myForm">


              <button type="submit" ng-click="confrimClosePosition()"
                class="btn btn-primary btn-w-m block full-width m-b">Submit</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <!-- edit position modal starts-->
  <div class="modal inmodal" id="editpositionModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content animated fadeIn">
        <div class="modal-header">
          <div class="custom-close" data-dismiss="modal" ng-click="closeModal('editstock')" aria-label="Close"></div>
          <h4 class="modal-title">Edit Stock</h4>
        </div>
        <div class="modal-body">

          <!-- Modal form section starts -->
          <div class="form">
            <form name="myForm">
              <div class="row">
                

                

                <div class="form-group">
                  <label for="stop_level" class="text-dark">stop level:</label>
                  <input  min="0" max="100" class="form-control"
                      ng-model="editpositionModel.stop_level" name="stop_level" required>
              </div>

              <div class="form-group">
                  <label for="limit_level" class="text-dark">limit level:</label>
                  <input  min="0" max="100" class="form-control"
                      ng-model="editpositionModel.limit_level" name="limit_level" required>
              </div>

              </div>

              <button type="submit" ng-click="editPositionSubmit(editpositionModel)"
                class="btn btn-primary block full-width m-b">Submit</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- edit position modal ends-->


  <!-- modal starts-->
  <div class="modal inmodal" id="editstock" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog custom-width" role="document">
      <div class="modal-content animated fadeIn">
        <div class="modal-header">
          <div class="custom-close" data-dismiss="modal" ng-click="closeModal('editstock')" aria-label="Close"></div>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
          <h4 class="modal-title">Edit Stock</h4>
        </div>
        <div class="modal-body">

          <!-- Modal form section starts -->
          <div class="form">

            <form name="myForm">

              <!-- Update Last Price Button and Switch Container in a single row aligned to the right -->
              <div class="row align-items-center justify-content-end">
                <div class="col-md-auto text-right">
                  <button type="button" class="btn btn-secondary" ng-click="updateLastPrice(data.id)">
                    <i class="fa fa-refresh"></i> Update Last Price
                  </button>
                </div>
                <div class="col-md-auto text-right switch-container">
                  <label for="statusSwitch" class="text-dark">Status:</label>
                  <label class="switch">
                    <input type="checkbox" id="stkStatus" {% if data.status==1 %} checked {% endif %}>
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-4">
                  <label for="stockname" class="text-dark">Stock Name:</label>
                  <input type="text" class="form-control" ng-model="data.stock" name="stockname" value="{{data.stock}}"
                    disabled>
                </div>

                <div class="form-group col-md-4">
                  <label for="stocksource" class="text-dark">Stock Source:</label>
                  <input type="text" class="form-control" ng-model="data.source" name="stocksource"
                    value="{{data.source}}" disabled>
                </div>

                <div class="form-group col-md-4">
                  <label for="mininum_size" class="text-dark">Mininum Size:</label>
                  <input type="text" class="form-control" ng-model="data.mininum_size" name="mininum_size"
                    value="{{data.mininum_size}}" required>
                </div>



              </div>

              <div class="row">

                <div class="form-group col-md-4">
                  <label for="investment_amount" class="text-dark">Investment:</label>
                  <input type="text" class="form-control" id="investment_amount"
                    ng-model="portfolioDetails['investment_amount'] " name="investment_amount">
                </div>

                <div class="form-group col-md-4">
                  <label for="allocated_percentage" class="text-dark">Allocated Percentage:</label>
                  <input type="text" class="form-control" id="allocated_percentage" ng-model="data.allocated_percentage"
                    name="allocated_percentage" ng-keyup="calcAllocatedVal()">
                </div>

                <div class="form-group col-md-4">
                  <label for="allocated_value" class="text-dark">Allocated Value:</label>
                  <input type="text" class="form-control" id="allocated_value" ng-model="data.allocated_value"
                    name="allocated_value">
                </div>


              </div>

              <div class="row">

                <div class="form-group col-md-4">
                  <label for="lastprice" class="text-dark">Last Price:</label>
                  <input type="text" class="form-control" id="lastprice" ng-model="data.lastprice" name="lastprice">
                </div>

                <div class="form-group col-md-4">
                  <label for="margin_percentage" class="text-dark">Margin Percentage:</label>
                  <input type="text" class="form-control" ng-model="data.margin_percentage" name="margin_percentage"
                    ng-keyup="calcMarginVal()" id="margin_percentage" required>
                </div>

                <div class="form-group col-md-4">
                  <label for="margin" class="text-dark">Margin:</label>
                  <input type="text" class="form-control" ng-model="data.margin" name="margin" id="margin" required>
                </div>

              </div>
              <div class="row">


                <div class="form-group col-md-4">
                  <label for="allocated_qty" class="text-dark">Allocated QTY:</label>
                  <input type="text" class="form-control" ng-model="data.allocated_qty" name="allocated_qty"
                    id="allocated_qty" ng-keyup="calcBuyingQTY()" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="buying_ratio" class="text-dark">Buying Ratio:</label>
                  <input type="text" class="form-control" ng-model="data.buying_ratio" name="buying_ratio"
                    id="buying_ratio" ng-keyup="calcBuyingQTY()" required>
                </div>

                <div class="form-group col-md-4">
                  <label for="buying_qty" class="text-dark">Buying QTY:</label>
                  <input type="text" class="form-control" ng-model="data.buying_qty" name="buying_qty" id="buying_qty"
                    required>
                </div>




                <button type="submit" ng-click="editstockSumbit(data)"
                  class="btn btn-primary block full-width m-b">Submit</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>





</body>

</html>
<style>
  .robot-css {
    position: relative;
    border-radius: var(--br-5xs);
    background-color: #143443;
    width: 100%;
    text-align: center;
    padding: 8px 18px;
    cursor: pointer;
  }
</style>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="js/inspinia.js"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
  (function () {
    var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/644f791631ebfa0fe7fb52e9/1gvb7202o';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
<!--End of Tawk.to Script-->