<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->


  <title>Smartportfolio - Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./index.css" />


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <script src="js/plugins/sparkline/jquery.sparkline.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
  <script src="js/main.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/angular-sparklines@1.0.0/angular-sparklines.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>


  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <script src="./angular/angular-storage.min.js"></script>
  <script src="./angular/angular-payments.js"></script>
  <script src="./angular/app.js"></script>
  <script src="./angular/service.js"></script>
  <script src="./angular/smartPortfolio.js"></script>
</head>



</head>

<body ng-app="website" ng-controller="smartPortfolio" ng-init="init()">

  <div class="home-pages">
    <ng-include src="'header/navbar.html'"></ng-include>

    <div class="home">
      <div class="container">
        <h3 class="" style="margin-top: 20px;">Welcome {{name}}</h3>
        <h1 class="ml-3 mt-5">Check out the featured portfolios for investment.</h1>
        <div class="app-frame11">
          <div class="logo-group">
            
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-primary" style="margin-left: 300px;" data-bs-toggle="modal" ng-click="addPortfolio()">
      <i class="fa fa-plus"></i> Create New portfolio
    </a>
    <!-- <button type="button" class="btn btn-primary" style="margin-left: 300px;" ng-click="testIgAccount()" href="#"> s</button> -->
    <div class="app-frame12" style="margin-top: 70px;">
      <div class="frame-parent13">
        <!-- <div class="frame-parent14">
          <div class="all-parent">
            <div class="viezh-robert">All</div>
            <div class="frame-child6"></div>
          </div>
          <div class="start-investing">Equity</div>
          <div class="start-investing">Stocks</div>
          <div class="start-investing">Mutual Funds</div>
          <div class="start-investing">Alternative</div>
          <div class="view-all-wrapper">
            <div class="start-investing">View All</div>
          </div>
        </div> -->
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-xs-12" ng-repeat="data in dataset">
            <div class="rectangle-parent5 mb-4">
              <div class="group-child4"></div>
              <div class="group-child5" style="cursor: pointer;" ng-click="goToPortfolioPage(data.id)">
                <a style="cursor: pointer; display: block; height: 100%;" ng-click="goToPortfolioPage(data.id)">
                  <div class="view-portfolio-wrapper">
                    <div class="viezh-robert">View Portfolio</div>
                  </div>
                </a>
              </div>
              <div class="group-parent2">
                <div class="group-parent3">
                  <div class="rectangle-wrapper">
                    <div class="rectangle-wrapper">
                      <div class="group-child6"></div>
                    </div>
                    <div class="frame-parent15">
                      <div class="frame-wrapper">
                        <div class="group-parent5">
                          <img class="frame-child7" alt="" src="./public/group-1000004160.svg" />

                          <div class="viezh-robert-parent">
                            <div class="viezh-robert">{{data.portfolio_name}}</div>
                          </div>
                          <div class="viezh-robert-parent">
                            <a href="#" class="btn btn-primary"  data-bs-toggle="modal" ng-click="editPortfolio(data)">
                              <i class="fa fa-edit"></i> 
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="rectangle-parent6">
                    <div class="group-child7"></div>
                    <div class="frame-parent16">
                      <div class="frame-wrapper1">
                        <div class="group-parent5">
                          <div class="viezh-robert"></div>
                          
                        </div>
                        <p class="mt-4" style="font-size: 16px; font-weight:bold">Contributors : Amol S, Smartportfolio Team, Quantbots Team.</p>
                      </div>
                      <!-- <img class="frame-icon" alt="" src="./public/frame.svg" /> -->
                      <sparkLineChart ata="{{data.portfolioroi}}"></sparkLineChart>
                    </div>
                  </div>
                </div>
                <div class="row w-100  m-0">
                  <!-- <div class="col-3">
                    <p style="font-size: 15px;" class="mt-2 m-0 p-0">Brokers</p>
                  </div> -->

                  <div class="col-4 p-0 m-0">
                    <!-- <div class="vr"></div> -->
                    <img src="/assets/img/Untitled-1.png" class="img-fluid ms-3 mb-3 m-0" style="max-height: 35px;">
                  </div>

                  <div class="col-4 p-0">
                    <div class="vr"></div>
                    <img src="/assets/img/Untitled--2.png" class="img-fluid ms-3 mb-3 m-0" style="max-height: 35px;">
                  </div>
                  <div class="col-4 p-0 m-0">
                    <div class="vr"></div>
                    <img src="/assets/img/Untitled11-2.png" class="img-fluid mb-3 ms-2 m-0" style="max-height: 30px; ">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    

    <ng-include src="'/app/footer/footer.html'"></ng-include>


    <div class="modal modal-blur fade" id="add-portfolio" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <form>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-dark">Create a Model Portfolio </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">

              <div class="row">

                <div class="form-group col-md-6">
                  <label for="portfolio_name" class="text-dark">Portfolio Key Name:</label>
                  <input type="text" class="form-control" id="portfolio_name"
                  ng-model="data.portfolio_name" name="portfolio_name">
                </div>

                <div class="form-group col-md-6">
                  <label for="display_name" class="text-dark">Portfolio Display Name:</label>
                  <input type="text" class="form-control" id="display_name"
                  ng-model="data.display_name" name="display_name">
                </div>

                <div class="form-group col-md-12">
                  <label for="tagline" class="text-dark">Portfolio Tagline:</label>
                  <input type="text" class="form-control" id="tagline" ng-model="data.tagline"
                    name="tagline">
                </div>

       
                </div>
            </div>


            <div class="row"> 


              <div class="form-group col-md-4">
                <label for="stock_category_id" class="text-dark">Portfolio Tagline:</label>

                <select class="form-select"  ng-model="data.stock_category_id" required name="stock_category_id">
                    <option value="" disabled>Select Category</option>
                    <option ng-repeat="category in category_list" value="{{category.id}}">
                        {{category.category_name}}</option>

                </select>


            </div>

              <div class="form-group col-md-4">
                <label for="islive" class="text-dark">Is Live:</label>
                <select class="form-select" ng-model="data.islive" required>
                  <option value=1.0 selected='selected'>True</option>
                  <option value=0.0 >False</option>
              </select>
              </div>

              <div class="form-group col-md-4">
                <label for="ispublic" class="text-dark">Is Public:</label>
                <select class="form-select" ng-model="data.ispublic" required>
                  <option value=1.0 selected='selected'>True</option>
                  <option value=0.0 >False</option>
                </select>
              </div>


          </div>


          <div class="row">

            <div class="form-group col-md-4">
              <label for="portfolio_isfeatured" class="text-dark">Is Featured:</label>
              <select class="form-select" ng-model="data.portfolio_isfeatured" required>
                <option value=1.0 selected='selected'>True</option>
                <option value=0.0 >False</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="capital" class="text-dark">Initial Capital:</label>
              <input type="text" class="form-control" id="capital"
              ng-model="data.capital" name="capital">
            </div>

            <div class="form-group col-md-4">
              <label for="currency" class="text-dark">Currency:</label>
              <input type="text" class="form-control" id="currency" ng-model="data.currency"
                name="currency">
            </div>


        </div>
        <style>
          .multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
        </style>

        <div class="row">
          <div class="form-group col-md-4">
            <div class="multiselect">
              <div class="selectBox" ng-click="showCheckboxes()">
                <select>
                  <option>Select an option</option>
                </select>
                <div class="overSelect"></div>
              </div>
              <div id="checkboxes">
                <label for="one">
                  <input type="checkbox" id="one" />First checkbox</label>
                <label for="two">
                  <input type="checkbox" id="two" />Second checkbox</label>
                <label for="three">
                  <input type="checkbox" id="three" />Third checkbox</label>
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="currency" class="text-dark">Telegram Link:</label>
            <input type="text" class="form-control" id="currency" ng-model="data.currency"
              name="currency">
          </div>

          <div class="form-group col-md-4">
            <label for="currency" class="text-dark">Whatsapp Link:</label>
            <input type="text" class="form-control" id="currency" ng-model="data.currency"
              name="currency">
          </div>


      </div>

        <div class="row">

          <div class="form-group col-md-6">
            <label for="bench_stock" class="text-dark">Benchmark Stock:</label>
            <input type="text" class="form-control" id="bench_stock" ng-model="data.bench_stock"
              name="bench_stock">
          </div>

          <div class="form-group col-md-6">
            <label for="stock_source" class="text-dark">Stock Source:</label>
            <input type="text" class="form-control" id="stock_source"
            ng-model="data.stock_source" name="stock_source">
          </div>
          
      </div>
      <div class="row">
         
          
        <div class="col-lg-12">
          <div>
            <label class="text-dark">Brief Info:</label>
            <textarea class="form-control" rows="3" ng-model="data.briefintro" value="data.briefintro" name="briefintro"></textarea>
          </div>
        </div>
      </div>
      
            
          </div>

          
      
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
            


            <button type="submit"  class="btn btn-primary ms-auto" ng-click="createPortfolio(data)" data-bs-dismiss="modal">
              Submit
            </button>
          </div>
        </div>
      </form>
      </div>
    </div>


  
    <div class="modal modal-blur fade" id="edit-portfolio" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <form>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-dark">Create a Model Portfolio </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">

              <div class="row">

                <div class="form-group col-md-6">
                  <label for="portfolio_name" class="text-dark">Portfolio Key Name:</label>
                  <input type="text" class="form-control" id="portfolio_name"
                  ng-model="data.portfolio_name" name="portfolio_name">
                </div>

                <div class="form-group col-md-6">
                  <label for="display_name" class="text-dark">Portfolio Display Name:</label>
                  <input type="text" class="form-control" id="display_name"
                  ng-model="data.display_name" name="display_name">
                </div>

                <div class="form-group col-md-12">
                  <label for="tagline" class="text-dark">Portfolio Tagline:</label>
                  <input type="text" class="form-control" id="tagline" ng-model="data.tagline"
                    name="tagline">
                </div>

       
                </div>
            </div>


            <div class="row"> 

              <div class="form-group col-md-4">
                <label for="stockdataId" class="text-dark">Select Category:</label>
                <select class="form-select" ng-model="data.stockdataId" required>
                  <option value="1" selected='selected'>USETF</option>
                  <option value="2">USSTOCKS</option>
                  <option value="3">INDICES</option>
                  <option value="4">COMMODITIES</option>
                  <option value="5">FOREX</option>
                  <option value="6">NSEOPTIONS</option>
                  <option value="7">CRYPTO</option>
                  <option value="8">INDIASTOCKS</option>
              </select>
              </div>

              <div class="form-group col-md-4">
                <label for="islive" class="text-dark">Is Live:</label>
                <select class="form-select" ng-model="data.islive" required>
                  <option value=1.0 selected='selected'>True</option>
                  <option value=0.0 >False</option>
              </select>
              </div>

              <div class="form-group col-md-4">
                <label for="ispublic" class="text-dark">Is Public:</label>
                <select class="form-select" ng-model="data.ispublic" required>
                  <option value=1.0 selected='selected'>True</option>
                  <option value=0.0 >False</option>
                </select>
              </div>


          </div>


          <div class="row">

            <div class="form-group col-md-4">
              <label for="portfolio_isfeatured" class="text-dark">Is Featured:</label>
              <select class="form-select" ng-model="data.portfolio_isfeatured" required>
                <option value=1.0 selected='selected'>True</option>
                <option value=0.0 >False</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="capital" class="text-dark">Initial Capital:</label>
              <input type="text" class="form-control" id="capital"
              ng-model="data.capital" name="capital">
            </div>

            <div class="form-group col-md-4">
              <label for="currency" class="text-dark">Currency:</label>
              <input type="text" class="form-control" id="currency" ng-model="data.currency"
                name="currency">
            </div>


        </div>

        <div class="row">

          <div class="form-group col-md-6">
            <label for="bench_stock" class="text-dark">Benchmark Stock:</label>
            <input type="text" class="form-control" id="bench_stock" ng-model="data.bench_stock"
              name="bench_stock">
          </div>

          <div class="form-group col-md-6">
            <label for="stock_source" class="text-dark">Stock Source:</label>
            <input type="text" class="form-control" id="stock_source"
            ng-model="data.stock_source" name="stock_source">
          </div>
          
      </div>
      <div class="row">
         
          
        <div class="col-lg-12">
          <div>
            <label class="text-dark">Brief Info:</label>
            <textarea class="form-control" rows="3" ng-model="data.briefintro" value="data.briefintro" name="briefintro"></textarea>
          </div>
        </div>
      </div>
      
            
          </div>

          
      
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
            


            <button type="submit"  class="btn btn-primary ms-auto" ng-click="editPortfolioSubmit(data)" data-bs-dismiss="modal">
              Submit
            </button>
          </div>
        </div>
      </form>
      </div>
    </div>
    <!-- <div class="rectangle-parent4">
      <div class="footer-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 logo-parent">
              <div class="logo"><a href="/fresh/index.html"><img class="frame-logo" alt="logo"
                    src="./public/logo.png" /></a></div>
              <div class="our-vision-is-to-provide-conve-parent">
                <div class="our-vision-is">
                  Our vision is to provide convenience and help increase your
                  sales business.
                </div>
                <div class="facebook-parent">
                  <img class="facebook-icon" alt="" src="./public/facebook.svg" />

                  <img class="facebook-icon" alt="" src="./public/twitter.svg" />

                  <img class="facebook-icon" alt="" src="./public/linkedin.svg" />

                  <img class="facebook-icon" alt="" src="./public/group.svg" />
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 logo-group">
              <div class="div">About</div>
              <div class="logo-container">
                <div class="start-investing"><a href="/how-it-work.html">How it work</a></How></div>
                <div class="start-investing"><a href="/featured.html">Featured</a></div>
                <div class="start-investing"><a href="/partnership.html">Partnership</a></div>
                <div class="start-investing"><a href="/business-relation.html">Business Relation</a></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 logo-group">
              <div class="logo6">Community</div>
              <div class="logo-container">
                <div class="start-investing"><a href="/event.html">Events</a></div>
                <div class="start-investing"><a href="/blog.html">Blog</a></div>
                <div class="start-investing"><a href="/podcast.html">Podcast</a></div>
                <div class="start-investing"><a href="/invite-friend.html">Invite a friend</a></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 mb-4 logo-group">
              <div class="logo6">Socials</div>
              <div class="logo-container">
                <div class="start-investing">Discord</div>
                <div class="start-investing">Instagram</div>
                <div class="start-investing">Twitter</div>
                <div class="start-investing">Facebook</div>
              </div>
            </div>
          </div>
          <div class="footer-line"></div>
        </div>
        <div class="smartportfolios-all-rights">
          ©2023 SmartPortfolios. All rights reserved
        </div>
      </div>
    </div> -->
  </div>


  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/644f791631ebfa0fe7fb52e9/1gvb7202o';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->




  <!-- Vendor JS Files -->
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>