<div class="w-100 h-100">
  <div class="checkbox-form">
    <div class="row">
     <div class="col-md-6">
       <div class="checkout-form-list">
          <label>Phone Number <span class="required">*</span></label>
          <input disabled ng-model="user.mobile_number" type="text" placeholder="" >
       </div>
    </div>
       <div class="col-md-6">
          <div class="checkout-form-list">
             <label>Email Address <span class="required">*</span></label>
             <input disabled ng-model="user.email" type="email" placeholder="" >
          </div>
       </div>
          
          <div class="col-md-6">
             <div class="checkout-form-list">
                <label>First Name <span class="required">*</span></label>
                <input disabled ng-model="user.first_name" type="text" placeholder="" >
             </div>
          </div>
          <div class="col-md-6">
             <div class="checkout-form-list">
                <label>Last Name <span class="required">*</span></label>
                <input disabled ng-model="user.last_name" type="text" placeholder="" >
             </div>
          </div>
          <div class="col-md-12">
             <div class="checkout-form-list">
                <label>Address 1<span class="required">*</span></label>
                <div class="d-flex flex-row gap-4">
                   <input disabled class="mr-2" ng-model="user.billing_address" type="text" placeholder="Street address" >
                   <input disabled class="ms-2" ng-model="user.billing_address2" type="text" placeholder="Street Address 2 (Optional)" >
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="country-select">
                <label>Country <span class="required">*</span></label>
                <select
                  disabled
                   ng-model="user.country">
                   <option selected value="India">India</option>
                </select>
             </div>
          </div>
          <div class="col-md-6">
             <div class="checkout-form-list">
                <label>State <span class="required">*</span></label>
                <input disabled ng-model="user.state" type="text" >
             </div>
          </div>
          <div class="col-md-6">
             <div class="checkout-form-list">
                <label>Town / City <span class="required">*</span></label>
                <input disabled ng-model="user.city" type="text">
             </div>
          </div>
          <div class="col-md-6">
             <div class="checkout-form-list">
                <label>Postcode / Zip <span class="required">*</span></label>
                <input disabled ng-model="user.postal_code" type="text" placeholder="Postcode / Zip" >
             </div>
          </div>
    </div>
 </div>
</div>