<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Smartportfolio - Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
  <script src="js/main.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>


  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <script src="../angular/angular-storage.min.js"></script>
  <script src="../angular/angular-payments.js"></script>
  <script src="../angular/app.js"></script>
  <script src="../angular/service.js"></script>
  <script src="./angular/payment-confirmation.js"></script>


</head>

<body ng-app="website" ng-controller="robot-portfolio-apply-ctrl" ng-init="init()">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top" style="background-color:  #143443;">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/app/"><img style="height: 80px;" src="../assets/img/quantbotslogo.png" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="/app/">Home</a></li>
                <li><a class="nav-link scrollto active" href="pricing.html">Pricing</a></li>
                <li><a class="nav-link scrollto active" href="screener.html">Demo</a></li>
                <li><a class="nav-link scrollto active" href="signal-portfolio.html">Signals</a></li>
                <li><a class="nav-link scrollto active" href="robots.html">Robots</a></li>
                <li><a class="nav-link scrollto active" href="connectors.html">Connectors</a></li>

                <li><a class="nav-link scrollto active" href="ready-portfolio.html">Ready Portfolio</a></li>
                <li><a class="nav-link scrollto active" href="backtesting/modelportfolio.html">My Portfolio</a></li>
                <div class="dropdown profile-element">

                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                      <span class="text-muted text-xs block">{{name | uppercase}} <b class="caret"></b></span>
                  </a>
                  <ul class="dropdown-menu animated fadeInRight m-t-xs">
                      <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                      <li><a class="dropdown-item" ng-click="logout()">Logout</a></li>
                  </ul>
              </div>
            
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

<section  style="background-color: #143443;" >

    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col mt-5">
             <!-- <h1 class="mt-5 text-light" style="font-weight: bold;"> Welcome {{name}}  
                </h1> -->
            </div>
        </div>

        <div class="row mt-3 justify-content-center">
            <div class="col-md-12">
                <!-- <h2 class="text-light">Quantbots Robots are automatically connected to leading brokers. All our signals can automatically generate buy
                    and sell signals.  </h2> -->


                <!-- <span style="color:#fff ; font-size: 1rem;">
                    <p>Demozc Broker - Connect to our demo broker to learn how the automation works. <br>
                    Alpaca - Leading broker for automated API trading in Stocks and Crytocurrency.<br>
                    IG  - The leading CFD broker which is able to automatically trade in more than 10000 instruments.<br>
                    Aliceblue - This is an automated broker for the Indian Stock Market.<p></p>
                </span> -->
            </div>
        </div>
      </div>

      
    <div class="container mb-5">

    <div class="row">


      


        <div id="page-wrapper" >
            <!-- <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                                class="fa fa-bars"></i> </a>
                                <ul class="nav navbar-top-links navbar-left p-3" >
                                    <span ><a style="text-decoration:none;cursor:hand;color: coral;font-weight:800;" href="/intro//app/">HOME</a></span>
                                
                                </ul>
                    </div>
                   
                    <ul class="nav navbar-top-links navbar-right p-3">
                     
                       
                        <span style="color:white;padding-right:20px;font-weight:600;" >Demo Balance: USD {{demobalance}}</span>
                        <span style="color:white;padding-right:20px;font-weight:600;" > {{name}}</span>
                       
                        
                    </ul>
                </nav>
            </div> -->
            <!-- <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h3 class="mt-5 md-3" style="font-size:2rem">Welcome {{name}}</h3>
                    <ol class="breadcrumb" style="color:#4c566a;" >
                        <li class="breadcrumb-item">
                            <a href="welcome.html">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Robots</strong>
                        </li>
                    </ol>
                </div>
            </div>


            <div class="row wrapper border-bottom page-heading">
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3 style="color:#4c566a;">Total Capital</h3>
                            <h3 >&nbsp;{{demobalance}} USD</h3>
                        </div>
                        <div class="col-lg-3">
                            <h3 style="color:#4c566a;">Invested</h3>
                            <h3>&nbsp;{{demobalance}} USD</h3>
                        </div>
                    
                        <div class="col-lg-3">
                            <h3 style="color:#4c566a;">Balance</h3>
                            <h3>&nbsp;{{demobalance}} USD</h3>
                        </div>
                        <div class="col-lg-3">
                            <h3 style="color:#4c566a;">Profit Loss</h3>
                            <h3>&nbsp;{{demobalance}} USD</h3>
                        </div>
                    </div>
                </div>
            </div> -->




            

            <div class="wrapper wrapper-content   animated fadeInRight">
                <!-- <div class="row">
                    <div class="col-lg-10 md-2"><h3 style="font-size:2rem">Invest in {{data.portfolio_name}}  Portfolio</h3></div>
                    <div class="col-lg-2 md-2 justify-content-end"><a href="#" class="btn btn-primary">Contact Expert</a></div>
               
                  
                    </div> -->
                <div class="row mt-6 pt-6">
                  
                           
                            <div class="col-lg-6" >
                                <div class="ibox " style="font-size: 1rem;">
                                    <div class="ibox-title" style="background-color: #cdd1d5;">
                                        <div class="ibox-tools">
                                            
                                        </div>
                                    
                                         
                                        <h2 style="color: #3e3e3e; "> Confirm Your Subscription
                                          </h2>
                                    </div>
                                    <div class="ibox-content" style="background-color: #e5f4fb;">
                                    
                                       

                                        <form name="registerForm">
                                            <div class="m-t" role="form" >
                                                <div class="controls">
                                                  <br>
                                                    <!-- <div class="row">
                                                           
                                                          
                                                   

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label p-1 mt-1" for="form3Example3"><strong>NAME</strong></label>
                                                                <input type="text" name="username" class="form-control" disabled placeholder="Name" ng-model="data.name" tabindex="1" required>
                                                                <span class="error  pl-1" ng-show="!registerForm.username.$valid && (registerForm.username.$touched || submitted)"></span>
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                        </div>
                                                        
                
                                                        
                                                    </div> -->

                                                    <div class="row">
                                                        <div class="col-lg-10 md-2"><h3 style="margin-left: -10px; color: #000; font-size:1.5rem">Personal Details</h3></div>
                                                  
                                                      
                                                        </div>

                                                    <div class="row">
                                                      <div class="col-md-5">
                                                          <div class="form-group">
                                                            <label class="form-label p-1 mt-1" style="font-size: 17px;"  for="form3Example3"><strong>NAME</strong></label>
                                                             
                                                          </div>
                                                      </div>
                                                      <div class="col-md-7">
                                                        <div class="form-group">
                                                          <input type="text" name="username" class="form-control" disabled placeholder="Name" ng-model="data.name" tabindex="1" required>
                                                          <span class="error  pl-1" ng-show="!registerForm.username.$valid && (registerForm.username.$touched || submitted)"></span>
                                                          <div class="help-block with-errors"></div>
                                                        </div>
                                                    </div>
                                                      
                                                    
                                                  </div>
                                                  <br>




                                                    <div class="row">
                                                      <div class="col-md-5">
                                                          <div class="form-group">
                                                              <label style="font-size: 17px;" class="form-label p-1 mt-1" for="form3Example3"><strong>EMAIL</strong></label>
                                                             
                                                          </div>
                                                      </div>
                                                      <div class="col-md-7">
                                                        <div class="form-group">
                                                            <input  type="email"  name="email"   class="form-control" placeholder="Email" ng-model="data.email" tabindex="3" required disabled>
                                                            <span class="error  pl-1" ng-show="!registerForm.email.$valid && registerForm.email.$touched"></span>
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                    </div>
                                                      
                                                    
                                                  </div>
                                                  <br>



                                                    <div class="row">
                                                      <div class="col-md-5">
                                                          <div class="form-group">
                                                            <label class="form-label p-1 mt-1" style="font-size: 17px;" for="form3Example3"><strong>PHONE NUMBER</strong></label>
                                                             
                                                          </div>
                                                      </div>
                                                      <div class="col-md-7">
                                                        <div class="form-group">
                                                          <input type="name" class="form-control" placeholder="Phone Number" disabled ng-model="data.phone" tabindex="2" required>
                                                          <span class="error  pl-1" ng-show="!registerForm.phone.$valid && registerForm.phone.$touched"></span>
                                                          <div class="help-block with-errors"></div>
                                                        </div>
                                                    </div>
                                                      
                                                    
                                                  </div>
                                                  <br>






                                                  <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                          <label class="form-label p-1 mt-1" style="font-size: 17px;" for="form3Example3"><strong>WHATSAPP NUMBER</strong></label>
                                                           
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                      <div class="form-group">
                                                        <input type="name" class="form-control" placeholder="Whatsapp Number" disabled value="{{whatsapp}}" tabindex="2" required>
                                                        <span class="error  pl-1" ng-show="!registerForm.phone.$valid && registerForm.phone.$touched"></span>
                                                        <div class="help-block with-errors"></div>
                                                      </div>
                                                  </div>
                                                    
                                                  
                                                </div>
                                                <br>





                                                <div class="row">
                                                  <div class="col-md-5">
                                                      <div class="form-group">
                                                        <label class="form-label p-1 mt-1" style="font-size: 17px;" for="form3Example3"><strong>TELEGRAM NUMBER</strong></label>
                                                         
                                                      </div>
                                                  </div>
                                                  <div class="col-md-7">
                                                    <div class="form-group">
                                                      <input type="name" class="form-control" placeholder="Telegram Number" disabled value="{{telegram}}" tabindex="2" required>
                                                      <span class="error  pl-1" ng-show="!registerForm.phone.$valid && registerForm.phone.$touched"></span>
                                                      <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                                  
                                                
                                              </div>
                                              <br><br><br>


                                              <div class="row">
                                                <div class="col-lg-10 md-2"><h3 style="margin-left: -10px; color: #000; font-size:1.5rem">Subscription Type  </h3></div>
                                          
                                              
                                                </div>

                                                <div class="row">
                                                  <div class="col-md-5">
                                                      <div class="form-group">
                                                        <label class="form-label p-1 mt-1" style="font-size: 17px;" for="form3Example3"><strong>PACKAGE </strong></label>
                                                         
                                                      </div>
                                                  </div>
                                                  <div class="col-md-7">
                                                    <div class="form-group">
                                                      <!-- <input type="name" class="form-control" disabled ng-model="data.phone" tabindex="2" required> -->
                                                      <input type="name" class="form-control" disabled  tabindex="2" value="{{plan_name}}" required>
                                                      <span class="error  pl-1" ng-show="!registerForm.phone.$valid && registerForm.phone.$touched"></span>
                                                      <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                                  
                                                
                                              </div>
                                              <br>

                                              <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                      <label class="form-label p-1 mt-1" style="font-size: 17px;" for="form3Example3"><strong>COST </strong></label>
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                  <div class="form-group">
                                                    <!-- <input type="name" class="form-control"  disabled ng-model="data.phone" tabindex="2" required> -->

                                                    <input type="name" class="form-control" value="{{cost}} USD" disabled  tabindex="2" required>
                                                    <span class="error  pl-1" ng-show="!registerForm.phone.$valid && registerForm.phone.$touched"></span>
                                                    <div class="help-block with-errors"></div>
                                                  </div>
                                              </div>
                                                
                                              
                                            </div>
                                            <br>


                                            <div class="row">
                                              <div class="col-md-5">
                                                  <div class="form-group">
                                                    <label class="form-label p-1 mt-1" style="font-size: 17px;" for="form3Example3"><strong> START DATE </strong></label>
                                                     
                                                  </div>
                                              </div>
                                              <div class="col-md-7">
                                                <div class="form-group">

                                                  <input type="name" class="form-control" value="{{startdate}}" disabled  tabindex="2" required>
                                                  <span class="error  pl-1" ng-show="!registerForm.phone.$valid && registerForm.phone.$touched"></span>
                                                  <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                              
                                            
                                          </div>
                                          <br>


                                          <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                  <label class="form-label p-1 mt-1" style="font-size: 17px;" for="form3Example3"><strong> END DATE  </strong></label>
                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                              <div class="form-group">

                                                <input type="name" class="form-control" value="{{enddate}} " disabled  tabindex="2" required>
                                                <span class="error  pl-1" ng-show="!registerForm.phone.$valid && registerForm.phone.$touched"></span>
                                                <div class="help-block with-errors"></div>
                                              </div>
                                          </div>
                                            
                                          
                                        </div>
                                        <br>  




                                              


                                                    <!-- <div class="row">
                                                      <div class="col-md-6">
                                                        
                                                          <div class="form-group">
                                                              <label class="form-label p-1 mt-1" for="form3Example3"><strong>PHONE NUMBER</strong></label>
                                                              <input type="name" class="form-control" placeholder="Phone number" disabled ng-model="data.phone" tabindex="2" required>
                                                              <span class="error  pl-1" ng-show="!registerForm.phone.$valid && registerForm.phone.$touched"></span>
                                                              <div class="help-block with-errors"></div>
                                                          </div>
                                                     
                                                      </div>
                                                  </div> -->


                                                  <!-- <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label p-1 mt-1" for="form3Example3"><strong>Investment Amount</strong></label>
                                                            <input type="number"  name="capital" class="form-control" disabled placeholder="Capital" ng-model="data.capital" tabindex="6"  ng-change="updatefunding(data)" required>
                                                          <span class="error pl-1" ng-show="!registerForm.capital.$valid && (registerForm.capital.$touched || submitted)"></span>
                                                          <div class="help-block with-errors"></div>
                                                        </div>                                                    </div>
                                                </div> -->
                                                      
                                                    
                                                  </div>
                                                
                                                        
                                                    </div>
                                                   
                
                                                    <div class="row ml-2 mt-4">
                                                      <div class="col-md-3"></div>

                                                      <div class="col-md-2">
                                                        
                                                        <div class="button">
                                                          <button style="float: left;" ng-click="submitcreateformupdated(userdata)"   class="btn btn-primary block full-width m-b" style="background-color:#ff5c35; color:#FFF">Submit</button>
                                                          <!-- ng-click="subscribe(data)" -->

                                                          
                                                      </div>
                                                   
                                                    </div>






                                                    <div class="col-md-2">
                                                        
                                                      <div class="button">
                                                       
                                                        <button type="button" ng-click="home()" href="ready-portfolio.html" class="btn btn-danger">Cancel</button>

                                                    </div>
                                                 
                                                  </div>


                                                        
                                                    </div>
                                                </div>
                                        </form>
                                 
                                    </div>
                                </div>

                            </div>
                            
                      
                        
                    
                  
                   
                    
                </div>
              
               


            </div>

                

           
        </div>




    </div>
    </div>






</div>



    </section>
   


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-color: #143443;">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Quantbots</h3>
            <p>
              Our vision is to provide convenience and help increase your sales business.
            </p>
            <div class="social-links text-left text-md-right pt-3 pt-md-0 mt-4">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>About</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">How it work</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Featured</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Partnership</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Business Relation</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Community</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Events</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Pod Cast</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Invite a Friend</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Social</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Discord</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Instagram</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Twitter</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Facebook</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



    <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/644f791631ebfa0fe7fb52e9/1gvb7202o';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->




  <div class="modal inmodal" id="subscribe" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="img/iamstockbot.png" class="ml-3">
                <h4 class="modal-title">Iamstockbot</h4>

            </div>
            <div class="modal-body">
                  <!--modal form section starts-->
                  <div class="form">
                    <h3 style="color: black;" class="text-dark"> Confirm Your Quote Request</h3>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac sagittis nulla. Vivamus pharetra id velit ut ultrices. Ut ac egestas augue.</p>
                  
                  <h4>Enter Card Details</h4>   
                   <form name="carddetails">

                      <div class="form-group">
                          <input type="text" name="cardname" class="form-control" placeholder="Card Name" ng-model="card.name" value="{{card['name']}}" required>
                          <!-- <span class="error  pl-1" ng-show="!zerodhasetting.username.$valid && (zerodhasetting.username.$touched || submitted)">Card Name Required </span> -->
                      </div><br>

                      <div class="form-group">
                        <input type="text" name="cardnumber" class="form-control" placeholder="Card Number" ng-model="card.number" value="{{card['number']}}" required>
                        <!-- <span class="error  pl-1" ng-show="!zerodhasetting.username.$valid && (zerodhasetting.username.$touched || submitted)">Card Name Required </span> -->
                    </div><br>

                    <div class="form-group">
                      <input type="text" name="cardcvv" class="form-control" placeholder="CVV" ng-model="card.cvv" value="{{card['cvv']}}" required>
                     <!-- <span class="error  pl-1" ng-show="!zerodhasetting.username.$valid && (zerodhasetting.username.$touched || submitted)">Card Name Required </span> -->
                  </div><br>

                  <div class="form-group"></div>

                  <input type="checkbox"  name="terms"  ng-model="data.useragreement" tabindex="5" required> I agree to the terms and conditions
                </div><br>                                               

                      
                      <button type="submit" ng-click="cdetails(data)"  class="btn btn-primary block full-width m-b">Submit</button>
                  </form>



                  
              </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>



    <!-- Personal detail confirmation -->

    <div class="modal inmodal" id="personaldetails" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
              <div class="modal-content animated fadeIn">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <img src="img/iamstockbot.png" class="ml-3">
                  <h4 class="modal-title">Iamstockbot</h4>
  
              </div>
              <div class="modal-body">
                    <!--modal form section starts-->
                    <div class="form">
                      <h3 style="color: black;" class="text-dark"> Your Investment </h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac sagittis nulla. Vivamus pharetra id velit ut ultrices. Ut ac egestas augue.</p>
                    
                    <h4>Your Investment Details</h4>    
                    <form name="userdetails">
  
                       
  
                      <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label p-1 mt-1" for="form3Example3"><strong>NAME</strong></label>
                            <input type="text" name="username" class="form-control" placeholder="Name" ng-model="data.name" tabindex="1" required>
                            <span class="error  pl-1" ng-show="!registerForm.username.$valid && (registerForm.username.$touched || submitted)"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="form-label p-1 mt-1" for="form3Example3"><strong>EMAIL</strong></label>
                          <input style="background-color: #ffffff;" type="email" name="email"  readonly="readonly" class="form-control" placeholder="Email" ng-model="data.email" tabindex="3" required>
                          <span class="error  pl-1" ng-show="!registerForm.email.$valid && registerForm.email.$touched"></span>
                          <div class="help-block with-errors"></div>
                      </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label p-1 mt-1" for="form3Example3"><strong>PHONE NUMBER</strong></label>
                        <input type="name" class="form-control" placeholder="Phone number" ng-model="data.phone" tabindex="2" required>
                        <span class="error  pl-1" ng-show="!registerForm.phone.$valid && registerForm.phone.$touched"></span>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                     <label class="form-label p-1 mt-1" for="form3Example3"><strong>INVESTMENT </strong></label>
                      <input type="number"  name="capital" class="form-control" placeholder="Capital" ng-model="data.capital" tabindex="6"  ng-change="updatefunding(data)" required>
                      <span class="error pl-1" ng-show="!registerForm.capital.$valid && (registerForm.capital.$touched || submitted)"></span>
                      <div class="help-block with-errors"></div>

                  </div>
              </div>
                  
                  <br>   
                    
                    
  
                        
                        <button type="submit" ng-click="submitcreateformupdated(userdata)"  class="btn btn-primary block full-width m-b">Confirm</button>
                    </form>
  
  
  
                    
                </div>
              </div>
              <div class="modal-footer">
  
              </div>
          </div>
      </div>
</div>



<div class="modal inmodal" id="subscribe1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
          <div class="modal-content animated fadeIn">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <img src="img/iamstockbot.png" class="ml-3">
              <h4 class="modal-title">Iamstockbot</h4>

          </div>
          <div class="modal-body">
                <div class="form">
                    <h3 style="color: #000;"> You are subscribed successfully!</h3>
                   <form name="myForm">


                      
                     
                      <center><button type="submit" ng-click="dashboard(data)"
                          class="btn btn-primary block full-width m-b">Back to Dashboard</button>
                        </center></form>
              </div>
          </div>
          <div class="modal-footer">

          </div>
      </div>
  </div>
</div>


  
  <!-- Vendor JS Files -->
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>

<style>

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  background-color: #2e76bb;
  border-color: #c5d3df;
  border-image: none;
  border-style: solid solid none;
  border-width: 2px;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 90px 8px 15px;
  min-height: 48px;
  position: relative;
  clear: both;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 10px 10px 0 0;

}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid;
  border-width: 2px;
}
.ibox-footer {
  color: inherit;
  border-top: 2 px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.bullets {
    margin: 0px;
    list-style: none;
    font-weight: 500;
}
.ibox-tools {
    display: block;
    float: none;
    margin-top: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    text-align: right;
}
.label-success, .badge-success {
    background-color: #2eca79;
    color: #ffffff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
    border-radius: 0.25em;
    line-height: 1;
    white-space: nowrap;
    font-size: 0.8rem;
}
.table {
    background-color: #e3f2fb;
    border-radius: 3px;
}
.table-bordered {
    border: 1px solid #ebebeb;}
    h3 {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 27.15px;
    color: #dfe6f4;
}
.button {
    background-color: transparent;}
    label , .form-label h3 {
    color: #000;
}
</style>