<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Smartportfolio - Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>


  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <script src="../angular/angular-storage.min.js"></script>
  <script src="../angular/angular-payments.js"></script>
  <script src="../angular/app.js"></script>
  <script src="../angular/service.js"></script>
  <script src="./angular/robotdetails-a-i-a.js"></script>
  </head>
  web\admin\angular\robotdetails-a-i-a.js


</head>

<body ng-app="website" ng-controller="robot-detail-ctrl-a-i-a" ng-init="init()"  >

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top" style="background-color:  #143443;">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html"><img style="height: 80px;" src="assets\img\quentbots.logo.png" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <!-- <li class="dropdown"><a href="#"><span>About Us</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Support</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto o" href="#portfolio">About</a></li>
          <li><a class="nav-link scrollto o" href="#portfolio">Support</a></li>
          <li><a class="nav-link scrollto o" href="#portfolio">Sign In</a></li>
          <li class="dropdown"><a class="getstarted scrollto" href="#about">Start Investing<i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg mt-5 py-5" style="background-color: #143443;">
      <div class="container" data-aos="fade-up">


        <div class="row">
          <div class="col-lg-8 col-md-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="col-12">
                          <div class="card_new justify-content-left">
                            <div class="card-header">
                              <div class="row">
                                <div class="col-lg-1 py-3">
                                  <img src="assets/img/flash_ico.png">
                                </div>
                                <div class="col-lg-10 py-3 text-left">
                                  <h3>Smartportfolios Momentum</h3>
                                </div>
                                <hr>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <h6 class="h6">$1 lac invested for 5 years could have been:</h6>

                                
                                  

                                </div>
                                <div class="col-lg-3">
                                  <h6 class="h6">Portfolio</h6>
                                  <p class="h6">Rs10,30,853</p>
                                </div>
                                <div class="col-lg-3">
                                  <h6 class="h6">Multicap</h6>
                                  <p class="h6">Rs10,30,853</p>

                                </div>
                                <div class="col-lg-2">
                                  <div class="dropdown">
                                    <button type="button2" class="btn1 dropdown-toggle" data-bs-toggle="dropdown">
                                      5 Years
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">1</a></li>
                                      <li><a class="dropdown-item" href="#">2</a></li>
                                      <li><a class="dropdown-item" href="#">3</a></li>
                                      <li><a class="dropdown-item" href="#">4</a></li>
                                      <li><a class="dropdown-item" href="#">5</a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="col-12 h-100" style="border:1px solid red;">
                                  <div id="analysisgraph" width="700vh"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                          <div class="row mt-5">
                            <div class="col-md-6">
                            <p>  <button type="button"  ng-click="showDiv1()" class="btn-subscribe mt-3">Signals</button></p>
                              <!-- <p><button ng-click="showDiv2()" type="button" class="btn-subscribe mt-3">Profit/ Loss</button></p> -->
                              <!-- <p><button type="button" class="btn-subscribe mt-3">How is portfolio made?</button></p> -->
                            </div>
                            <div class="col-md-6">
                              <p><button ng-click="showDiv2()" type="button" class="btn-subscribe mt-3">Profit/ Loss</button></p>
                              <!-- <p><button type="button" class="btn-subscribe mt-3">Risk Management</button></p>
                              <p><button type="button" class="btn-subscribe mt-3">Key Information</button></p> -->
                            </div>
                          </div>
                         
                        
                        </div>

                      



          </div>

      <div class="col-lg-4 col-md-8 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-12">
              <button type="button" class="btn-subscribe">Subscribe Now</button>
              <div class="row">
                <div class="col-lg-12">
                  <div class="col-lg-8 col-md-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="card_new1 justify-content-left  mt-3">
                      <div class="card-header py-3">
                        <h5>{{ stock}}</h5>
                      

                     

                        <h5 class="mt-4">Winrate :</h5>
                        <p>Monthly</p>
                        <div id="winratediv" style="width:50vh"></div>
                        <h5 class="mt-4">Profit Loss:</h5>
                       

                        
                        <div id="profitlossdiv" ></div>
                        <h5 class="mt-4">Min Investment</h5>
                        <p>$60325</p>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
        </div>

      <div class="row mt-5">
        <!-- <div class="col-lg-4 col-md-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="row">
            <div class="col-lg-12">
                <button type="button"  ng-click="showDiv1()" class="btn-subscribe">Signals</button>
                <p><button ng-click="showDiv2()" type="button" class="btn-subscribe mt-3">Why should you invest?</button></p>
                <p><button type="button" class="btn-subscribe mt-3">How is portfolio made?</button></p>
                <p><button type="button" class="btn-subscribe mt-3">Risk Management</button></p>
                <p><button type="button" class="btn-subscribe mt-3">Key Information</button></p>
            </div>
          </div>
        </div> -->
        <div  ng-show="showDiv1Flag" class="col-lg-12  col-md-12align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="card_new justify-content-right">
            <div class="card-header">
              <div class="row">
                <div class="col-lg-1 py-3">
                  <img src="assets/img/flash_ico.png">
                </div>
                <div class="col-lg-10 text-left">
                  <h3>Latest Signals</h3>
                  
                </div>
                <hr>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <h6 class="h6">24.7%</h6>
                  <p class="h6">Live returns</p>
                </div>
                <div class="col-lg-2">
                  <h6 class="h6">Rebalance</h6>
                  <p class="h6">Monthly</p>
                </div>
               
                
              </div>

              <table class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                    <tr>
                        <th>Sr. Number</th>
                        <th>Stock Name</th>
                        <th>Date</th>
                        <th>signals</th>
                        <th>price</th>
                        <th>Profitloss</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in tf">
                        <td>{{data.index}}</td>
                        <td>{{data.symbol}}</a></td>
                        <td>{{data.datetime | date:"medium" }}</td>
                        <td>{{data.signals}}</td>
                        <td>{{data.close | number: 2}}</td>
                        <td>
                         {{data.profitloss | number: 2}}
                        </td>
                        <td>{{data.notes}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
          </div>
        </div>
       

        <div ng-show="showDiv2Flag" class="col-lg-12 col-md-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="card_new justify-content-right">
            <div class="card-header">
              <div class="row">
                <div class="col-lg-1 py-3">
                  <img src="assets/img/flash_ico.png">
                </div>
                <div class="col-lg-10 text-left">
                  <h3>Profit/ Loss</h3>
                  
                </div>
                <hr>
              </div>
             

              <div class="table-responsive mt-3">
                <table class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Start_datetime</th>
                            <th>Stop_datetime</th>
                            <th>duration</th>
                            <th>Direction</th>
                            <th>Buy</th>
                            <th>Buy close</th>
                            <th>Sell</th>
                            <th>Sell close</th>
                            <th>Profit_loss</th>
                            <th>Percentage_profit</th>
                            <th>Total_profit</th>

                        </tr>
                    </thead>
                    <tbody>
                      
                        <tr ng-repeat="datax in sf ">
                            <td>{{datax["index"]}}</td>
                            <td>{{datax.start_datetime | date:"medium"}}</td>
                            <td>{{datax.stop_datetime | date:"medium"}}</td>
                            <td>{{datax.duration  | date:"medium" }}</td>
                            <td>{{datax.direction  | date:"medium" }}</td>
                            <td>{{datax.buy}}</td>
                            <td>{{datax.buyclose}}</td>
                            <td>{{datax.sell}}</td>
                            <td>{{datax.sellclose}}</td>
                            <td>{{datax.profit_loss}}</td>
                            <td>{{datax.percentage_profit}}</td>
                            <td>{{datax.total_profit}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
          </div>
        </div>

        
      </div>  
      <!-- <div class="row mt-5">
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="card_new1">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <img src="assets/img/google.png">
                </div>
                <div class="col-md-3 text-left mt-3"><h6>Google</h6></div>
                <div class="col-md-5 mt-3" style="text-align:right;"><h6>Technology</h6></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="card_new1">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <img src="assets/img/google.png">
                </div>
                <div class="col-md-3 text-left mt-3"><h6>Google</h6></div>
                <div class="col-md-5 mt-3" style="text-align:right;"><h6>Technology</h6></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="card_new1">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <img src="assets/img/google.png">
                </div>
                <div class="col-md-3 text-left mt-3"><h6>Google</h6></div>
                <div class="col-md-5 mt-3" style="text-align:right;"><h6>Technology</h6></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="card_new1">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <img src="assets/img/google.png">
                </div>
                <div class="col-md-3 text-left mt-3"><h6>Google</h6></div>
                <div class="col-md-5 mt-3" style="text-align:right;"><h6>Technology</h6></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="card_new1">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <img src="assets/img/google.png">
                </div>
                <div class="col-md-3 text-left mt-3"><h6>Google</h6></div>
                <div class="col-md-5 mt-3" style="text-align:right;"><h6>Technology</h6></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="card_new1">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <img src="assets/img/google.png">
                </div>
                <div class="col-md-3 text-left mt-3"><h6>Google</h6></div>
                <div class="col-md-5 mt-3" style="text-align:right;"><h6>Technology</h6></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="card_new1">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <img src="assets/img/google.png">
                </div>
                <div class="col-md-3 text-left mt-3"><h6>Google</h6></div>
                <div class="col-md-5 mt-3" style="text-align:right;"><h6>Technology</h6></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="card_new1">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <img src="assets/img/google.png">
                </div>
                <div class="col-md-3 text-left mt-3"><h6>Google</h6></div>
                <div class="col-md-5 mt-3" style="text-align:right;"><h6>Technology</h6></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="card_new1">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <img src="assets/img/google.png">
                </div>
                <div class="col-md-3 text-left mt-3"><h6>Google</h6></div>
                <div class="col-md-5 mt-3" style="text-align:right;"><h6>Technology</h6></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="card_new1">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <img src="assets/img/google.png">
                </div>
                <div class="col-md-3 text-left mt-3"><h6>Google</h6></div>
                <div class="col-md-5 mt-3" style="text-align:right;"><h6>Technology</h6></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      </div>
    </section><!-- End Sevices Section -->

  
    <!-- ======= About Section ======= -->
    
    <!-- <section id="portfolio" class="portfolio section-bg" style="background-color: #143443;">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Other Portfolios</h2>
          
        </div>
       

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="card justify-content-left">
              <div class="card-header">
                <div class="row">
                  <div class="col-lg-2 mt-2"><img src="assets/img/flash_ico.png"></div>
                  <div class="col-lg-4 mt-2">
                    <span class=""><strong>Balanced</strong> <p>Equity</span>
                  </div>
                  <div class="col-lg-5 justify-content-end mt-2">
                    <div class="button1">
                      <button class="btn btn-xs">High Risk</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body1">
                <div class="row">
                  <div class="col-lg-12">
                    <img src="assets/img/investment_img.png"  style="width:414px">
                  </div>
                </div>
                <div class="row justify-content-center py-3">
                  <div class="col-lg-4">
                    <h6 class="h6">Rebalance</h6>
                    <span class="h6">Half-Yearly</span>
                  </div>
                  
                  <div class="col-lg-4">
                    <h6 class="h6">Live Return</h6>
                    <span class="h6">50%</span>
                  </div>
                 
                  <div class="col-lg-4">
                    <h6 class="h6">2Y CAGR</h6>
                    <span class="h6">50.6%</span>
                  </div>
                </div>
              </div> 
              <div class="card-footer text-center">
                <h3>View Portfolio</h3>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="card justify-content-left">
              <div class="card-header">
                <div class="row">
                  <div class="col-lg-2 mt-2"><img src="assets/img/flash_ico.png"></div>
                  <div class="col-lg-4 mt-2">
                    <span class=""><strong>Balanced</strong> <p>Equity</span>
                  </div>
                  <div class="col-lg-5 justify-content-end mt-2">
                    <div class="button1">
                      <button class="btn btn-xs">High Risk</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body1">
                <div class="row">
                  <div class="col-lg-12">
                    <img src="assets/img/investment_img.png"  style="width:414px">
                  </div>
                </div>
                <div class="row justify-content-center py-3">
                  <div class="col-lg-4">
                    <h6 class="h6">Rebalance</h6>
                    <span class="h6">Half-Yearly</span>
                  </div>
                  
                  <div class="col-lg-4">
                    <h6 class="h6">Live Return</h6>
                    <span class="h6">50%</span>
                  </div>
                 
                  <div class="col-lg-4">
                    <h6 class="h6">2Y CAGR</h6>
                    <span class="h6">50.6%</span>
                  </div>
                </div>
              </div> 
              <div class="card-footer text-center">
                <h3>View Portfolio</h3>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="card justify-content-left">
              <div class="card-header">
                <div class="row">
                  <div class="col-lg-2 mt-2"><img src="assets/img/flash_ico.png"></div>
                  <div class="col-lg-4 mt-2">
                    <span class=""><strong>Balanced</strong> <p>Equity</span>
                  </div>
                  <div class="col-lg-5 justify-content-end mt-2">
                    <div class="button1">
                      <button class="btn btn-xs">High Risk</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body1">
                <div class="row">
                  <div class="col-lg-12">
                    <img src="assets/img/investment_img.png"  style="width:414px">
                  </div>
                </div>
                <div class="row justify-content-center py-3">
                  <div class="col-lg-4">
                    <h6 class="h6">Rebalance</h6>
                    <span class="h6">Half-Yearly</span>
                  </div>
                  
                  <div class="col-lg-4">
                    <h6 class="h6">Live Return</h6>
                    <span class="h6">50%</span>
                  </div>
                 
                  <div class="col-lg-4">
                    <h6 class="h6">2Y CAGR</h6>
                    <span class="h6">50.6%</span>
                  </div>
                </div>
              </div> 
              <div class="card-footer text-center">
                <h3>View Portfolio</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- End About Section -->
   


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-color: #143443;">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Smartportfolios</h3>
            <p>
              Our vision is to provide convenience and help increase your sales business.
            </p>
            <div class="social-links text-left text-md-right pt-3 pt-md-0 mt-4">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>About</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">How it work</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Featured</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Partnership</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Business Relation</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Community</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Events</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Pod Cast</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Invite a Friend</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Social</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Discord</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Instagram</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Twitter</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Facebook</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>







  
  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>