<header>
    <div id="header-sticky" class="header__main-area d-none d-xl-block">
       <div class="container">
          <div class="header__for-megamenu p-relative">
             <div class="row align-items-center">
                <div class="col-xl-3">
                   <div class="header__logo py-1">
                      <a href="index.html">
                         <img
                            style="
                               height: 120px;
                               object-fit: contain;
                               object-position: center;
                            "
                            src="assets/img/logo/pamosa_logo_resized.png" alt="logo">
                      </a>
                   </div>
                </div>
                <div class="offset-6 col-xl-3">
                   <div class="header__info d-flex align-items-center">
                      <div class="header__info-search tpcolor__purple ml-10">
                         <button class="tp-search-toggle"><i class="icon-search"></i></button>
                      </div>
                      <div class="header__info-user tpcolor__yellow ml-10 d-none d-sm-block">
                         <a href="/login.html"><i class="icon-user"></i></a>
                      </div>
                      <div class="header__info-cart tpcolor__oasis ml-10 tp-cart-toggle">
                         <button>
                            <i>
                               <img src="assets/img/icon/cart-1.svg" alt="">
                            </i>
                            <span>{{ cart.length }}</span>
                         </button>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

    <!-- header-search -->
    <div class="tpsearchbar tp-sidebar-area">
       <button class="tpsearchbar__close"><i class="icon-x"></i></button>
       <div class="search-wrap text-center">
           <div class="container">
               <div class="row justify-content-center">
                   <div class="col-6 pt-100 pb-100">
                       <h2 class="tpsearchbar__title">What Are You Looking For?</h2>
                       <div class="tpsearchbar__form">
                           <form action="#">
                               <input type="text" name="search" placeholder="Search Product...">
                               <button class="tpsearchbar__search-btn"><i class="icon-search"></i></button>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <div class="search-body-overlay"></div>
    <!-- header-search-end -->

    <!-- header-cart-start -->
    <div class="tpcartinfo tp-cart-info-area p-relative">
       <button class="tpcart__close">
          <i class="icon-x"></i>
       </button>
       <div class="tpcart">
          <h4 class="tpcart__title">Your Cart</h4>
          <div class="tpcart__product">
             <div class="tpcart__product-list">
                <div ng-if="cart.length > 0" class="w-100 d-flex flex-row justify-content-end">
                   <button style="
                      text-decoration: underline;   
                   " ng-click="clearCart()">Clear Cart</button>
                </div>
                <ul>
                   <li ng-repeat="cart_item in cart">
                      <div class="tpcart__item position-relative">
                         <div class="tpcart__img">
                            <img ng-src="{{ cart_item.product_image }}" alt="{{ cart_item.product_name }}">
                         </div>
                         <div class="tpcart__content">
                            <span class="tpcart__content-title">
                               <a href="product.html">{{ cart_item.product_name }}</a>
                            </span>
                            <div class="tpcart__cart-price">
                               <div class="product__details-count mr-10">
                                  <span 
                                     class="cart-minus"
                                     ng-click="updateQuantity(cart_item.id, -1)">
                                     <i class="far fa-minus"></i>
                                  </span>
                                  <input 
                                     class="tp-cart-input" 
                                     type="number" 
                                     ng-model="cart_item.quantity" 
                                     min="1" 
                                     >
                                  <span class="cart-plus" ng-click="updateQuantity(cart_item.id, 1)">
                                     <i class="far fa-plus"></i>
                                  </span>
                               </div>
                               <span>
                                  <span class="new-price"
                                     ng-bind="'₹' + cart_item.price"></span>
                               </span>
                               <span>
                                  <span>=</span>
                                  <span class="heilight-price">₹{{ cart_item.subtotal }}</span>
                               </span>
                            </div>
                         </div>
                         <div style="
                            position: absolute;
                            top: 0;
                            right: 0;
                         ">
                            <a ng-click="removeItem(cart_item.id)"
                               href="#">
                               <i class="icon-x-circle"></i>
                            </a>
                         </div>
                      </div>
                   </li>
                </ul>
             </div>
             <div class="tpcart__checkout">
                <div class="tpcart__total-price d-flex justify-content-between align-items-center">
                   <span> Subtotal:</span>
                   <span class="heilight-price">₹{{ cartTotal }}</span>
                </div>
                <div class="tpcart__checkout-btn">
                   <!--<a class="tpcart-btn mb-10" href="cart.html">View Cart</a>-->
                   <a class="tpcheck-btn" href="checkout.html">Checkout</a>
                </div>
             </div>
          </div>
          <div class="tpcart__free-shipping text-center">
             <span>Free shipping for orders <b>under 10km</b></span>
          </div>
       </div>
    </div>
    <div class="cartbody-overlay"></div>
    <!-- header-cart-end -->

    <!-- mobile-menu-area -->
    <div id="header-sticky-2" class="tpmobile-menu d-xl-none p-0">
       <div class="container-fluid">
          <div class="row align-items-center d-flex w-100 flex-row flex-nowrap justify-content-between align-items-center">
             <div class="mobile-menu-icon flex-fill">
                <button class="tp-menu-toggle"><i class="icon-menu1"></i></button>
             </div>
             <div class="header__logo text-center flex-fill py-1">
                <a href="/index.html">
                   <img style="
                         height: 120px;
                         object-fit: contain;
                         object-position: center;
                      "
                      src="assets/img/logo/pamosa_logo_resized.png" alt="logo">
                </a>
             </div>
             <div class="flex-fill">
                <div class="header__info d-flex align-items-center">
                   <div class="header__info-search tpcolor__purple ml-10 d-none d-sm-block">
                      <button class="tp-search-toggle"><i class="icon-search"></i></button>
                   </div>
                   <div class="header__info-user tpcolor__yellow ml-10 d-none d-sm-block">
                      <a href="/login.html"><i class="icon-user"></i></a>
                   </div>
                   <div class="header__info-cart tpcolor__oasis ml-10 tp-cart-toggle">
                      <button><i><img src="assets/img/icon/cart-1.svg" alt=""></i>
                         <span>{{ cart.length }}</span>
                      </button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="body-overlay"></div>
    <!-- mobile-menu-area-end -->

    <!-- sidebar-menu-area -->
    <div class="tpsideinfo">
       <button class="tpsideinfo__close">Close<i class="fal fa-times ml-10"></i></button>
       <div class="tpsideinfo__search text-center pt-35">
          <div class="tpsideinfo__account-link">							
             <a href="/login.html">
                <i class="icon-user icons"></i>
                <span>Login / Register</span>
             </a>
          </div>
          <span class="tpsideinfo__search-title mb-20">What Are You Looking For?</span>
          <form action="#">
             <input type="text" name="search" placeholder="Search Products...">
             <button><i class="icon-search"></i></button>
          </form>
       </div>
       <div class="tpsideinfo__nabtab">
           <div class="tab-content" id="pills-tabContent">
             <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                <div class="tpsidebar-categories">
                   <ul>
                      <li>
                         <a href="index.html">All</a>
                      </li>
                      <li ng-repeat="category in categorydataset">
                         <a href="index.html?category_id={{ category.id }}">{{ category.category_name }}</a>
                      </li>
                   </ul>
                </div>
             </div>
           </div>
       </div>
    </div> 
    <!-- sidebar-menu-area-end -->
 </header>